[2018-03-27 06:12] bvanvugt opened #1 "Create a standard CONTRIBUTING.md that points to battlesnakeio/community"
We want a simple, standard CONTRIBUTING.md file that is added to every repo that accepts outside collaborator pull requests. It should points readers to our community repo where they can find guidelines for contributing to battlesnake.io.

[2018-03-27 06:16] bvanvugt opened #2 "Add LICENSE to open source repos."
We want to add a reasonable open source license to the following repositories:

- docs
- community
- roadmap
- engine
- play
- board
- website

[2018-03-27 06:18] bvanvugt opened #3 "Add an applicable license to branding repo."
The branding repo will contain images and other assets related to battlesnake website and event production. As such we should carefully choose a license for it.

[2018-03-27 07:27] bvanvugt opened #5 "Add standard code-of-conduct.md to all repos pointing to community/code-of-conduct.md"
This should be a simple, standardized file that points to community/code-of-conduct.md.

[This is a good example of what we mean by placeholder.](https://github.com/kubernetes/kubernetes/blob/master/code-of-conduct.md)

Needs to be added to following repos:
- [x] docs
- [x] roadmap
- [x] engine
- [x] board
- [x] play
- [x] branding
- [x] website
- [x] infrastructure

[2018-03-27 07:29] bvanvugt opened #6 "Write first draft of community Code of Conduct"
We need a code-of-conduct.md file in the community repo.

[2018-03-27 07:43] bvanvugt opened #7 "Add standard CONTRIBUTING.md file to every repo that points to community contributing guide"
Write a simple, standard CONTRIBUTING.md file that points to a master contributing guide in the Community repo.

This standard file needs to be added to the following repos:
- docs
- roadmap
- engine
- play
- board
- branding
- website

[2018-03-27 07:45] bvanvugt opened #8 "Write first draft of Contributing guide"
We need a central Contributing guide that can be applied to all open source projects. This should probably live at community/CONTRIBUTING.md and be pointed to be other repos (see #7).

[2018-03-27 07:47] bvanvugt commented on #6
I like what @codeallthethingz has already done by referencing the CNCF Code of Conduct - we can probably just reference it directly and maybe add a few choice pull quotes.

See https://github.com/kubernetes/community/blob/master/code-of-conduct.md

[2018-03-28 04:59] bvanvugt opened #9 "Write licensing policy explaining which licenses we've chosen for which repos and why."
Should live at community/licensing.md

[2018-03-28 07:43] bvanvugt opened #10 "Add a contributor licensing agreement (CLA) process and supporting docs"

[2018-03-29 05:41] #9 closed

[2018-03-29 05:42] #2 closed

[2018-03-30 01:42] codeallthethingz opened #11 "Add an event coordination page"
Kinda like this one:

https://github.com/codeinthedark/codeinthedark.github.io/blob/master/README.md#arranging-your-own-code-in-the-dark

[2018-03-30 03:18] codeallthethingz opened #12 "Figure out date for Battlesnake 2019"
Currently we have it narrowed down to march.

Ashley will own once she joins the org.

[2018-03-30 21:08] codeallthethingz opened #13 "Add an "upcoming events" section to the homepage of battlesnake.io"
In squarespace you can add an iframe back to the community/docs/events.html that will allow us to publish on the website from a pull request on that file.

Add an `embed` component with the following HTML in it.

[code]

<img width="600" alt="screen shot 2018-03-30 at 2 09 00 pm" src="https://user-images.githubusercontent.com/1261268/38153905-eed0ec9e-3423-11e8-9cf3-8b6223cd3ed0.png">

[2018-03-31 04:06] codeallthethingz opened #14 "BattleSnake -> Battlesnake"
Scour squarespace and docs and media for incorrect casing.

[2018-03-31 05:14] bvanvugt opened #15 "Complete the Snake API OpenAPI Spec"
There's an early version of the spec here: https://github.com/battlesnakeio/docs/blob/master/apis/snake/spec.yaml

But it needs finalizing.

[2018-03-31 05:47] #15 closed

[2018-03-31 23:33] codeallthethingz commented on #11
Leaving the potential copy here:

Battlesnake is open sourced - you can use the software here to host your own community event as long as you follow some basic guidelines. To host your own event, create a pull request (following these instructions) in this repository to have it announced on the battlesnake.io website. Your page should reference back to the official Battlesnake website battlesnake.

[2018-04-02 03:34] codeallthethingz opened #17 "Add pull reminders slack plugin"
There's a slack plugin to send reminders if pull requests stay open too long.  Might be useful to put that in the battlesnake slack.

"Pull Reminders for GitHub"

[2018-04-02 03:34] codeallthethingz commented on #17
@bvanvugt This has to be done by a github 'owner' so I can't do it.

[2018-04-03 16:47] codeallthethingz commented on #17
added in the plugin, lets see how useful it is.  Currently new repositories will *not* be added automatically.  There is a setting to auto-add all new repo's.

[2018-04-03 16:47] #17 closed

[2018-04-04 20:27] codeallthethingz opened #18 "Year round leaderboard"
As a snake developer
I can fight my snake in competitions before the battlesnake tournament
such that I can iterate on my snakes
such that I can get a feel for how my snake compares to other snakes

An area in play.battlesnake.io that gives you access to a leader board.

Acceptance
- some kinda decay - if you haven't played in 30 days it starts to drop off.  Points decrease over time. WOW arena ra

[2018-04-09 20:43] will-swu opened #19 "Swallowing food animation"
- Swallowing food - this would require either board to track when food was swallowed and when it gets to the end of the snake, or for engine to do it to keep board simple.

We don't think we want explosions as it's against the "lets not have this be too machismo and aggressive" vibe that we're going for.

![isometricsploding](https://user-images.githubusercontent.com/35037777/38521914-e408273e-3bf

[2018-04-09 20:44] will-swu opened #20 "3D Snakes"
https://www.youtube.com/watch?v=Ttv1Lo1Ld2o

[2018-04-11 00:42] LouisRitchie opened #21 "Ensure starter snakes are complete"
- [ ] Update starter-snake readme in the community page about having a tutorial video + readme for deploying to heroku.  Add the technology choice for the recordings and to contact Will to put the recordings in the Monty the Python youtube channel.
- [x] decide which language snakes we are going to officially support
- [ ] create tickets for doing the following for each of the supported snakes.

[2018-04-11 04:14] graeme-hill opened #22 "Error handling in engine API"
Right now `server_test.go` only tests basic happy path. This change would add tests for unhappy path and then make those tests pass. In general that would mean implementing a bunch of the "TODO" comments in `server.go`.

Since this is meant to test `Server` and not the `ControllerClient` it would probably involve creating a mock controller that has an error object and then validating that `Server`

[2018-04-11 15:47] ColDog commented on #21
This get's a big +1 from me as far as a ticket goes. Maybe we should break this up into every language that we'd like to see?

[2018-04-11 15:48] ColDog commented on #22
This looks great to me! The engine is definitely in somewhat of a state of flux that being said I think a test like this could easily be modified to fit with whatever structural changes happen. I'd say go for it!

[2018-04-11 15:50] ColDog opened #23 "Engine needs a persistent backend"
Currently the engine is only backed by an in memory implementation. We need a persistent backend for when this is deployed to Google cloud or anywhere else.

We've had a bit of a discussion below about different alternatives. Redis is likely the easiest starting point to get started with. We would likely want to evaluate whether it's a good fit during implementation.

As reference the backend shou

[2018-04-11 15:51] ColDog opened #24 "Tracking Releases"
We should probably set up features and target specific releases for the engine project. I think this would help us figure out what are some of the core features that we need to get done soon and punt on more complex projects.

[2018-04-11 15:59] nbw opened #25 "Heroku deploy button in snake templates"
One-click deploy buttons from any snake templates that we publish.

**Question:**  In line with our values, specifically "Teach real-world programming skills," do we want a one-click deploy or should give tutorials about how to interface with the heroku CLI, find the appropriate build pack, etc.. At the very least, if we give a one-click deploy I think we should explain what we're doing to accompl

[2018-04-11 16:05] CDFriend opened #26 "Introductory Git Tutorial"
For introductory programmers, a big hurdle to making a snake is using git to pull, push and fork from the template repositories. We should either create an "intro to git" tutorial in our documentation, or provide some sort of way to deploy a snake without using git.

[2018-04-11 17:50] nbw opened #27 "Getting up to speed with "Engine""
Updating the Engine README.md with setup instructions.

# Note

I've been talking to Daniel already to document some setup instructions.

For those trying it out in the meantime:

* Install Go
* Set your GOPATH and add $GOPATH/bin to your PATHs
* `go get` to download deps, `go build` to create an executable or use `Make run`
* to create and run a game, first start the app (instruction above) and s

[2018-04-11 17:54] codeallthethingz opened #28 "starter-snake-human"
A starter snake that reads input from the command line and sends those commands as responses to the next engine request.

https://github.com/battlesnakeio/starter-snake-human

Acceptance
- uses the cursor keys for up down left right
- uses the last human input for subsequent engine calls
- uses the engines CLI interface to show you the map
- Add license: MIT
- Good readme about running this in lin

[2018-04-11 18:36] daniel-swu commented on #23
I'm thinking we use google cloud datastore since the plan is to run in GKE, I think this makes a lot of sense.

[2018-04-11 18:37] dlsteuer commented on #23
I'm thinking we use google cloud datastore since the plan is to run in GKE, I think this makes a lot of sense.

[2018-04-11 18:38] dlsteuer commented on #22
Yup this makes a lot of sense, and was on my todo list, so if you want to pick it up, that sounds awesome.

[2018-04-11 18:52] dlsteuer commented on #27
This is a great start, feel free to open a pr on the engine repo with this in the readme

[2018-04-11 21:13] graeme-hill commented on #28
This is a good idea, especially if the game pauses until the human chooses their direction. I want to be able to do this to test how my snake handles different scenarios. It doesn't *have* to be implemented in the UI though. Instead as long as the game has a long timeout period there can be a regular snake with a normal URL that reads keyboard input to make its decision. Would be a little less sea

[2018-04-12 19:12] lworkman opened #29 "Controlling Spawn Points"
I can't remember if this was ever addressed, but being able to control where snakes spawn (or adding a more balanced approach to spawning) would probably be handy.

[2018-04-12 21:38] will-swu opened #30 "Figure out who the Game Owner is going to be"
This person will be responsible for:
- How the final 2019 event games will be run
- The rules of the games
- The rules of bounty snakes

[2018-04-12 21:39] codeallthethingz commented on #30
@bvanvugt  what other responsibilities will this person have?

[2018-04-13 00:14] #22 closed

[2018-04-13 00:16] dlsteuer opened #31 "Send /start request to snakes"
Currently the engine doesn't send the /start request to any of the snakes, this needs to be fixed and updated.

[2018-04-13 00:17] dlsteuer opened #32 "Send /end request to snakes"
Currently the engine also doesn't send the /end request to any snakes. This needs to be fixed.

[2018-04-13 02:17] dlsteuer opened #33 "Remove "Turn Delay" Setting from Game Engine"
In the 2018 and 2017 battlesnake game server, there was a concept of turn delay, where the server would pause some set number of milliseconds before going onto the next game tick. This has currently been implemented in the new engine, but I propose that we remove the concept of turn delay from the engine, and it's up to the clients, i.e. the board or whatever is displaying the game ticks to implem

[2018-04-13 03:27] will-swu opened #34 "Architecture Diagram"
So we can see all the tech involved and the way data flows around the systems.
Probably this should go in the community repo?

[2018-04-13 03:48] ColDog commented on #23
Thinking that redis would be a good fit:

- Has a streaming architecture, stream in frames and stream them out via the API.
- Supports a good use case of locking a game.

[2018-04-13 04:14] ColDog opened #35 "Streaming Game Ticks"
Game ticks are the individual moves run throughout a given game. These are currently stored on the `Game` object https://github.com/battlesnakeio/engine/blob/master/controller/pb/controller.proto#L81. This won't scale to longer games.

This feature should implement:
- Insertion of a single game tick and checking the lock to ensure that the worker is allowed to insert a given tick.
- Stream ticks o

[2018-04-13 04:24] ColDog opened #36 "Engine API Web-Sockets"
Websockets will be needed to push game ticks up to the Javascript frontend.

This feature includes:
- Writing up a spec for websockets in the `api` package inside the engine project.
- Prototyping a websocket implementation.

[2018-04-13 05:34] codeallthethingz opened #37 "Make Python starter snake 2019 compatible"
Old snake here: `archived-starter-snake-python`

Acceptance
- compatible with the new snake API
- deployable on heroku
- project renamed to get rid of `archived-`
- Add license: MIT

[2018-04-13 05:39] codeallthethingz opened #38 "Make Go starter snake 2019 compatible"
Old snake here: `archived-starter-snake-go`

Acceptance
- [x] compatible with the new snake API
- [x] deployable on heroku
- [x] project renamed to get rid of `archived-`
- [x] Add license: MIT

[2018-04-13 05:42] codeallthethingz opened #39 "Make Java starter snake 2019 compatible"
Old snake here: `archived-starter-snake-java`

Acceptance
- compatible with the new snake API
- deployable on heroku
- project renamed to get rid of `archived-`
- Add license: MIT

[2018-04-13 05:42] codeallthethingz opened #40 "Make Clojure starter snake 2019 compatible"
Old snake here: `archived-starter-snake-clojure`

Acceptance
- compatible with the new snake API
- deployable on heroku
- project renamed to get rid of `archived-`
- Add license: MIT

[2018-04-13 05:51] codeallthethingz opened #41 "Make Ruby starter snake 2019 compatible"
Old snake here: `archived-starter-snake-ruby`

Acceptance
- compatible with the new snake API
- deployable on heroku
- project renamed to get rid of `archived-`
- Add license: MIT

[2018-04-13 05:52] codeallthethingz opened #42 "Make Node starter snake 2019 compatible"
Old snake here: `archived-starter-snake-node`

Acceptance
- compatible with the new snake API
- deployable on heroku
- project renamed to get rid of `archived-`
- Add license: MIT

[2018-04-13 14:48] ColDog opened #43 "Simplify Engine Controller Interface"
Workers inside the engine currently follow this pattern to retrieve a game, lock it and begin performing work on it:

1. Create is called (from the api).
2. Start is called (from the api).
3. Pop is called by the worker, since the game is started and unlocked, the active game id is returned to the worker in this call.
4. Lock is called by the current worker.
5. The worker initiates work and begins

[2018-04-13 14:48] ColDog commented on #43
@dlsteuer what do you think?

[2018-04-13 15:08] dlsteuer commented on #43
Yeah this sounds great to me, and I'm in favour of removing the turn delay from the worker.

#33

[2018-04-13 15:52] CDFriend commented on #37
Should we wait for the API to be finalized, or is the one here close enough?
https://github.com/battlesnakeio/docs/blob/master/apis/snake/spec.yaml

[2018-04-13 16:18] dlsteuer commented on #37
Yeah that spec is what it's most likely going to be, that is the spec the current engine is built to, so if the starter snake is updated to the linked spec, it will work with the engine.

[2018-04-13 16:45] CDFriend commented on #37
Sounds good - I should be able to get this done in the next couple days.

[2018-04-13 18:59] codeallthethingz opened #44 "How to assign issues to the community"
How do other open source projects do this?

Should we add as collaborators.

[2018-04-13 19:11] codeallthethingz commented on #37
@CDFriend added you as a collaborator with read access.  Once you accept the invite you should be able to assign to yourself.

[2018-04-13 19:39] CDFriend commented on #37
@codeallthethingz Accepted the collaborator invite, but still don't seem to be able to change the issue assignees.

From github docs: https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

Maybe I have to be an org member?

[2018-04-14 04:00] CDFriend commented on #37
Would it be worthwhile to update this snake for python 3 as well?

[2018-04-14 06:24] CDFriend commented on #37
@codeallthethingz Added a PR for the 2019 spec changes. The only remaining change would be renaming the repo.

https://github.com/battlesnakeio/archived-starter-snake-python/pull/31

[2018-04-14 17:12] codeallthethingz opened #45 "Starter snake Lua"
Project here: `starter-snake-lua`

Acceptance
- compatible with the new snake API
- deployable on heroku
- Add license: MIT

[2018-04-14 17:12] codeallthethingz opened #46 "Starter snake Elixir"
Project here: `starter-snake-elixir`

Acceptance
- compatible with the new snake API
- deployable on heroku
- Add license: MIT

[2018-04-15 02:42] dlsteuer opened #47 "API Engine Spec"
There was some discussion in battlesnakeio/engine#15  about the urls for the engine. This task is the placeholder for building a spec for the engine

[2018-04-15 16:49] #35 closed

[2018-04-15 17:34] graeme-hill opened #48 "End to end tests for engine API"
There are already some unit tests but I think it would be useful to have a tool that acts like a real API consumer and validates correct behaviour. My thinking is that it should be a separate utility that can be run against any engine server on a compatible version. For example if I have the Battlesnake engine api running at `http://localhost:3005` then I should be able to run the testing tool lik

[2018-04-15 17:40] dlsteuer opened #49 "Race detector issues in engine rules package"
As pointed out in battlesnakeio/engine#16 the rules package has some issues flagged by the race detector, let's get these fixed up.

[2018-04-15 21:34] codeallthethingz opened #50 "How to handle a stop game"
Currently a worker picks up a game and runs it to completion and there isn't a way for the controller to signal the worker to pause the currently running game.

[2018-04-15 21:34] codeallthethingz commented on #50
Colin: Probably when it writes the GameTick just return that the game is stopped.

[2018-04-15 21:34] codeallthethingz commented on #50
Daniel: What do you think about cancelling the context, that the worker is using? This would place the logic in the worker instead of in the game tick lop

[2018-04-15 21:37] codeallthethingz commented on #27
@nbw Just in case you didn't see this ^

[2018-04-15 21:41] codeallthethingz commented on #44
@CDFriend @LouisRitchie  for now I've given you write access to the `roadmap` repo so you should be able to now self-assign until we build a bot.

[2018-04-15 22:04] dlsteuer opened #51 "Different colours for different repo labels"
It's nice to be able to see at a glance which repo an issue belongs to, this is more difficult when the repo tags are all the same colour.

[2018-04-15 23:07] #43 closed

[2018-04-15 23:11] codeallthethingz commented on #51
@dlsteuer ->

[2018-04-16 00:46] dlsteuer commented on #51
👍

[2018-04-16 00:46] #51 closed

[2018-04-16 00:47] dlsteuer commented on #51
@codeallthethingz you have to search for it like label:repo:engine

[2018-04-16 00:58] #49 closed

[2018-04-18 03:16] graeme-hill commented on #48
Since PR #19 already is adding e2e tests I'll just wait until that is merged and then I can look into whether it's worth contributing extra test cases into that system. I'll close this for now so I can make more specific issues if necessary.

[2018-04-18 03:26] graeme-hill commented on #42
I can do this.

[2018-04-18 03:54] ColDog commented on #48
@graeme-hill A couple things here: The e2e testing developed in that pr is more focused on testing how the worker connects to the controller. It doesn't actually care about how the game is run.

The e2e testing that you described solves a different problem I think and one that's needed. Maybe they are merged and maybe they aren't? I developed the e2e tests in that pr because we have an interesting

[2018-04-18 04:13] graeme-hill commented on #48
Ok makes sense.

[2018-04-18 04:40] graeme-hill opened #52 "Include API version in /start"
The main reason I want this is so that I can make my snakes compatible with the 2018 battlesnake server *and* the 2019 server regardless of the changes made for 2019. Since the 2019 stuff is still in early stages if you want to work on an actual snake it is still useful to use the 2018 code for some things.

It could also be useful if we decide to make breaking changes throughout the development o

[2018-04-18 06:04] bvanvugt commented on #52
I like it - there are already breaking changes to the 2019 API, and we're planning on proper versioning going forward.

How would you want this passed? Maybe an Accept header? Putting it in the json body won't work.

[2018-04-18 06:09] bvanvugt commented on #36
Will this be publicly available? Or private to the official board?
ie: what level of documentation is required?

[2018-04-18 06:14] bvanvugt commented on #28
We've done this in previous years (dev only) where a checkbox appeared on the game creation screen to add a "local snake" which meant a hand controlled one.

The tech for this is complex, given our desired game architecture. It might be easier to implement this as a special Snake AI, instead of bake it into the game board. Imagine a website that would generate a snake URL for you and give you a UI

[2018-04-18 06:28] bvanvugt commented on #7
@codeallthethingz is this complete now?

[2018-04-18 06:30] bvanvugt commented on #8
@codeallthethingz looks like this is done?

[2018-04-18 06:30] ColDog commented on #50
Oh, this is handled, or maybe not? Hmm, don't actually have a test case for it. I don't know if per frame / per game workers makes a significant difference here this is relatively easy to handle either way.

@bvanvugt if you're curious, the per-game workers implementation is pretty much complete. The best description is the proto file: https://github.com/battlesnakeio/engine/blob/master/controller

[2018-04-18 06:34] bvanvugt commented on #47
Spec should be written as an OpenAPI 3.0.1 spec and kept along side the Snake API spec, here:
https://github.com/battlesnakeio/docs/tree/master/apis

Also note that we're using dated versioning.

[2018-04-18 06:46] bvanvugt opened #53 "Actually archive the 'archived-starter-* repos?"
@codeallthethingz can we also officially archive the old starter snake repos? they'll still be public visible, like the older game server repos.

[2018-04-18 06:48] bvanvugt commented on #50
Got it, neat. My thought was that per-frame gives us an easy window to "pause" or "halt" running games.

[2018-04-18 15:30] will-swu commented on #53
I was thinking these would actually be turned into the new starter snakes and renamed.   I think they're going to be mostly the same.

[2018-04-18 16:30] dlsteuer commented on #52
I like a custom header, probably something like `X-Battlesnake-Version`

[2018-04-18 17:13] bvanvugt opened #54 "Add a "Support Battlesnake" section to the landing page with contact info."
I like what GrapeJS does for this:
http://grapesjs.com/

[2018-04-18 17:37] graeme-hill commented on #52
FYI the recommendation for using `X-` prefix is deprecated. https://stackoverflow.com/questions/3561381/custom-http-headers-naming-conventions?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-18 17:38] graeme-hill commented on #52
It's still allowed just not officially recommended as I understand.

[2018-04-18 17:43] graeme-hill commented on #53
Ya that's what I expected as well. We could just rename and update. Maybe also tag the last commit before changes with `2018-final` or something.

[2018-04-18 20:47] codeallthethingz opened #55 "Get google compute platform account funding"
There should be some marketing dollars from google to get us free GCP dollars.

[2018-04-18 20:56] codeallthethingz commented on #55
Emailed a Google contact.

[2018-04-19 00:24] dlsteuer opened #56 "Create docker container for engine"
We need a docker image to be created out of the image, so it can be run on the infrastructure.

[2018-04-19 00:24] joram opened #57 "login with github"
As a battlesnaker I can log in to play with my github oauth flow

Acceptance
- Nice battlesnake logo on the oauth window.
- Good description of the authorization and what its for.

[2018-04-19 00:25] joram opened #58 "raw create game form"
this is done via a post to the engine endpoint.

[2018-04-19 00:25] joram opened #59 "crud snakes"

[2018-04-19 00:29] joram opened #60 "require a user to belong to a team"
they should be able to do nothing else, until they have created a team, or been invited a team.

[2018-04-19 00:29] joram opened #61 "invite friend to team"
the invite needs to be accepted before they are a member of the team

[2018-04-19 00:31] joram opened #62 "start game with dropdown for "my snakes""
As a battlesnaker
I can start a game without having to remember my URLs
such that I can quickly get a game up and running.

Acceptance
- UI to start a game.
- Snake input fields are autocomplete referencing snakes that you have run in the past?
- You can add up to X snakes
- Validate snakes are alive when you add them to the input field, illustrate liveness next to the input field.
- Button to sta

[2018-04-19 00:32] joram opened #63 "snake/team/user models"

[2018-04-19 00:39] dlsteuer opened #64 "Rename GameTick to GameFrame in engine."
Frame better represents this object, as the tick is the transition between frames.

[2018-04-19 00:40] codeallthethingz opened #65 "Create a glossary page in the readme"
Define all the terms technical and otherwise.

[2018-04-19 01:35] dlsteuer opened #67 "Validate Engine against API schema's"
It would be good to have some sort of test, to verify that the engine works against the current snake/engine api spec. Along the same lines will the engine only ever support the latest version of the spec, or should this be something that is configurable.

[2018-04-19 02:07] brandonb927 opened #68 "Dockerize play"
It would be great to not have to install everything in the project in a virtualenv, and manage python versions etc. plus we're going to be deploying this eventually and will need a containerized version of it to do so? I would like to do this because I don't run Linux either.

[2018-04-19 02:12] codeallthethingz commented on #34
@ColDog did you do this?  I'll close out if you post a link

[2018-04-19 02:12] codeallthethingz commented on #30
It's @bvanvugt until further notice.

[2018-04-19 02:12] #30 closed

[2018-04-19 02:29] codeallthethingz commented on #28
@dlsteuer some questions:

would it make sense to have this snake in Go so it can take advantage of the CLI stuff you're already writing?
If so, would it also make sense to have that cli work in a separate repo or would it be trivial to include the engine code as part of this snake?

[2018-04-19 06:30] daniel-swu commented on #28
Yeah like @bvanvugt said this is difficult given the architecture, because the engine would have to ignore the timeout for the human controlled snake, and wait for a response. This would require special configuration for it. I think a separate repo for the snake is fine, because this is really on it's own, but like I mentioned it does require engine changes to support this.

[2018-04-19 06:32] dlsteuer commented on #28
Yeah like @bvanvugt said this is difficult given the architecture, because the engine would have to ignore the timeout for the human controlled snake, and wait for a response. This would require special configuration for it. I think a separate repo for the snake is fine, because this is really on it's own, but like I mentioned it does require engine changes to support this.

[2018-04-19 17:11] #42 closed

[2018-04-19 18:54] lworkman opened #69 "Add tests for example snakes"
By having tests for the example snakes we'll be able to make sure the examples provide a good, consistent baseline across languages.

[2018-04-19 19:54] dlsteuer commented on #69
Yes they should be unit tests, and live in the starter snake repos, but I think there should be a community page the gives what the basic tests for each starter snake should be.

[2018-04-20 04:16] graeme-hill opened #70 "Save games to file system"
The current engine just uses an in-memory store for games. I have heard that there might be a real database version later (like maybe google cloud store?). I think it would make sense if the default dev mode storage option saves data to hard drive as a single file per game. It should accomplish the following:

1. Sharing a game is just copying/sending a file.
2. In-progress games can be resumed if

[2018-04-20 04:26] bvanvugt commented on #68
This is tough - we made the call early on to not use docker for dev. It'd be easy and consistent to expect every repo to product a runnable docker image for that component, but that's not the same as using docker for dev...

I think this is worth discussing at the next meeting.

[2018-04-20 04:31] bvanvugt commented on #60
Not including this in v1.0.0 because I think we don't *need* teams for that release - they could easily be added in future releases.

[2018-04-20 04:47] dlsteuer commented on #70
This is something I've had in mind. One thing you could do for serialization is use the protobuf format, it's not human readable like json is, but the files would be smaller, and all objects right now are protobuf objects, so you can use the proto package serialization.

[2018-04-20 05:00] ajdeziel commented on #39
I'll take care of this!

[2018-04-20 05:03] ajdeziel commented on #39
Shouldn't the license be AGPL, not MIT?

[2018-04-20 05:07] dlsteuer commented on #39
All the starter snake repos are going to be MIT licensed. We tracked that somewhere, but I don't know where it's documented anymore. The non-starter repos like engine/play/board etc. are AGPL

[2018-04-20 05:11] dlsteuer commented on #44
This might be useful to get something up quickly https://github.com/nodejs/github-bot

[2018-04-20 05:12] ajdeziel commented on #39
Ok thanks!

[2018-04-20 05:12] graeme-hill commented on #70
Just did some reading on the protobuf format and it looks like you can simply append more repeated data like with csv so I will try that out when I get a chance. The format isn't quite as simple as JSON but since we can provide the proto schema it's still pretty darn simple.

Right now the JSON format looks something like this:

[code]

`turns` doesn't store the whole state of the game at each tur

[2018-04-20 05:58] graeme-hill commented on #31
I have the start and end requests being sent out now. As part of this issue should I also implement any engine code to gather the responses from /start (which is just color right now) and store them on the game state somewhere? Or will that be a different issue?

[2018-04-20 06:29] CDFriend commented on #44
I might have something working for this in a few days. Assigning to myself.

I'm currently developing in a repo attached to my account: https://github.com/CDFriend/battlesnake-bot

[2018-04-20 06:38] CDFriend commented on #44
@codeallthethingz How do we define a user having access to the project? Would that just mean they're a collaborator on the roadmap repo?

[2018-04-20 15:48] colin-swu commented on #70
Oh this is a cool idea, hadn't thought of this at all! I made this issue a while back: https://github.com/battlesnakeio/roadmap/issues/23. You *could* share a redis dump file, but that would suck way more than just a CSV.

Either way this looks great, I personally would find this very valuable. Maybe take a peek at this project? https://github.com/nanobox-io/golang-scribble

[2018-04-20 16:02] dlsteuer commented on #31
Yeah, I think that is part of this ticket, it might require some controller updates though to be able to update the snake information.

[2018-04-20 23:28] codeallthethingz commented on #44
@CDFriend yep.

[2018-04-20 23:45] codeallthethingz commented on #23
@ColDog closing in favour of #70

[2018-04-20 23:48] codeallthethingz commented on #44
@CDFriend let me know when you want to start testing this out as I think we'll need to figure out keys and whatnot.

[2018-04-20 23:51] dlsteuer commented on #23
@codeallthethingz I think this ticket is fundamentally different then #70 this is about having a backend that persists around server reboots, when you probably have an ephemeral file store. I.e some sort of database backend, which we will need at some point once the server is up and running. While #70 is about persisting locally.

[2018-04-21 00:15] graeme-hill commented on #23
For basic usage I think the file system version described in #70 *could* be used in production too, but it all depends on what functionality we want in the long term. It might make sense to start with just the file system implementation and then wait until it feels insufficient and implement redis or something.

[2018-04-21 16:38] codeallthethingz commented on #55
@bvanvugt was on top of it!  Done and closed.  Dollar bills y'all!

[2018-04-21 16:38] #55 closed

[2018-04-21 17:30] codeallthethingz commented on #69
Added community page: https://github.com/battlesnakeio/community/blob/master/starter-snakes.md

[2018-04-21 23:06] codeallthethingz commented on #38
I'm gonna give this a whirl

[2018-04-22 02:37] dlsteuer opened #71 "Failure to respond to /start is considered a death"
In PR battlesnakeio/engine#23 it was at first proposed that a snake that fails to respond to /start is considered a death and removed from the game, with a death cause like FailedToStart.

[2018-04-22 02:38] dlsteuer opened #72 "Timeout for /start"
In battlesnakeio/engine#23 the timeout for /start was originally set to 15s, we should decide upon and document what this should be. The pr was updated to be 5s

[2018-04-22 02:42] #31 closed

[2018-04-22 22:45] CDFriend commented on #44
@codeallthethingz I have a working test version of this ready to go.

Repo: https://github.com/CDFriend/battlesnake-bot
Heroku: http://bsbot-test.herokuapp.com

You can test the bot on [this issue](https://github.com/CDFriend/battlesnake-bot/issues/2) in the repo.

Is there a repo for this that I should be opening a PR on?

[2018-04-22 23:15] dlsteuer commented on #44
I've created a repo https://github.com/battlesnakeio/battlesnake-bot to submit a pr against for this.

[2018-04-22 23:35] CDFriend commented on #44
@dlsteuer Thanks! Would you mind adding a blank README or something for me to merge into? Can't seem to open a PR on an empty repository.

[2018-04-22 23:41] dlsteuer commented on #44
ok, added a couple files to the repo.

[2018-04-23 00:16] CDFriend commented on #44
Added a PR: https://github.com/battlesnakeio/battlesnake-bot/pull/1

[2018-04-23 00:34] graeme-hill commented on #32
@dlsteuer I think this can be closed now

[2018-04-23 00:37] graeme-hill commented on #71
Just to be clear, I decided *not* to kill snakes that don't respond to /start in that PR after discussion. But it still needs to be decided what the correct behaviour is. Currently snakes that do not implement /start, or that implement it incorrectly will just get assigned a random colour and they still get sent /move calls.

[2018-04-23 00:39] graeme-hill commented on #72
FYI my goal with the long timeout was to help out people using free tier on heroku when their server goes to sleep. There might be a better way to solve that problem though, if we want to solve it at all.

[2018-04-23 00:44] graeme-hill commented on #69
I had assumed that @lworkman was referring to a single test suite that can be run against any starter snake, thereby ensuring total consistency, whereas it sounds like @codeallthethingz and @dlsteuer are saying that we should make sure each starter snake has its own tests. The former option sounds like API e2e tests and the latter sounds like unit tests in the language of the starter snake. Both a

[2018-04-23 02:33] ColDog commented on #23
Ya we should definitely do both, while #70 is more useful in the short term. @codeallthethingz I'm going to reopen.

[2018-04-23 15:38] lworkman commented on #69
@graeme-hill That's more in line with what I was thinking, but I hadn't thought about units testers for the starter snakes.

[2018-04-23 21:15] dlsteuer commented on #69
I think both approaches are valid, defining what's required as unit tests for the starter snakes is easier to get started with, but then having some sort of framework to make sure the snakes work in a "live" environment would be great too. We've had issues in past years where the starter snakes didn't actually work once deployed.

[2018-04-25 00:14] bvanvugt opened #73 "Write up rules and goals for starter snakes"
We're looking for a strong set of governing rules / values to impact how starter snakes are built and what's provided (and what's not).

[2018-04-25 01:07] codeallthethingz commented on #44
Awesome work @CDFriend !

[2018-04-25 03:30] #63 closed

[2018-04-25 05:46] joram commented on #60
this makes sense. The models are in the schema, but I won't push to get them in before CRUD-ing snakes and game creation.

[2018-04-25 20:43] graeme-hill opened #74 "Engine command line args are a bit wonky"
For example there is a flag for api endpoint is defined like this:

[code]

The second param is the command line flag, so it means that I have to use it like this:

[code]

Probably we want something more like this:

[code]

so it can be used like this:

```engine --api-addr :3007```

The same goes for the controller endpoint flag.

[2018-04-25 20:58] daniel-swu commented on #74
Yup this should be fixed, thanks for adding the issue.

[2018-04-25 20:58] dlsteuer commented on #74
Yup this should be fixed, thanks for adding this issue.

[2018-04-26 16:06] CDFriend commented on #58
I'll try taking this on

[2018-04-27 03:51] dlsteuer commented on #56
This is done, engine can be found at https://hub.docker.com/r/battlesnakeio/engine

[2018-04-27 03:51] #56 closed

[2018-04-27 06:46] dlsteuer commented on #64
This has been renamed.

[2018-04-27 06:46] #64 closed

[2018-04-27 21:57] graeme-hill commented on #70
After trying a few things I have found that it works best with a file format like this:

[code]

It's just one json object per line (without top level square brackets) where the first line is data that applies to every frame like id, board size, snake URLs, etc. This means that parsing pseudo-code is:

[code]

The CSV thing didn't work out because you can't really just store the sequence of moves,

[2018-04-27 23:03] dlsteuer commented on #33
I removed this at some point and it's been done now.

[2018-04-27 23:03] #33 closed

[2018-04-28 04:15] CDFriend commented on #58
So I'm just looking at submitting the form data to the server, and was wondering a couple things:
1. Should the POST request to the engine be sent from the client side?
2. What should be put in the `SnakeOptions.Id` field of the request? Won't the ID of the snake be generated by the engine?

[2018-04-28 04:50] dlsteuer commented on #58
I would post the form back to the django backend, and have the backend create the form, this way you don't have to deal with browser side cors issues for now. For the second item, the engine will generate an id if it's not provided, but we want the play side to be the source of truth for snake id's. So when a snake is created for a user/team, it would be assigned an ID on the django server.

[2018-04-28 16:30] CDFriend commented on #58
Perfect, thanks. Just to clarify, this is like the form we used to create games in the engine last year?

Screenshot of what I have right now:
<img width="1158" alt="screen shot 2018-04-27 at 4 00 41 pm" src="https://user-images.githubusercontent.com/8661121/39398723-a37b719c-4ac6-11e8-9d7c-40195d79931f.png">

[2018-04-28 18:14] dlsteuer commented on #58
Yup that's correct and looks good.

[2018-04-29 22:48] codeallthethingz opened #75 "Board MVP"
As a beginner battlesnake developer
I can easily launch a UI that will allow me to run my snake battles.

Acceptance
- [x] Runs in latest versions of:
	- [x] Chrome
	- [x] Firefox
	- [x] Safari
- [x] Can easily differentiate between snakes.
- [x] Can tell where the head / tail is at all times.
- [x] Dead snakes remain, but don't obscure the rest of the battle.
- [x] Can easily visualize the health

[2018-04-29 23:29] codeallthethingz opened #76 "Support CORS"
board will need CORS access to the engine.

Notes - Gin has nice support https://github.com/gin-contrib/cors

[2018-04-29 23:42] daniel-swu commented on #76
It looks like the Gin middleware requires you to use the gin router functionality, so that would be a full buy in situation.

[2018-04-29 23:44] dlsteuer commented on #76
It looks like the Gin middleware requires you to use the gin router functionality, so that would be a full buy in situation. Could use something like https://github.com/rs/cors for default net/http

[2018-04-30 06:38] LouisRitchie commented on #75
@graeme-hill https://github.com/louisritchie/battlesnake-2019-board

[2018-04-30 06:44] LouisRitchie commented on #75
Here is a Gist that is the modified `server.go` file for the Go engine. The modifications are attaching CORS-permitting headers to every request. (I'm not a Go developer, so it's very naive!)

https://gist.github.com/LouisRitchie/0f21b2347c38ad7fc5d1fc74bd76be67

[2018-04-30 15:29] #53 closed

[2018-04-30 15:30] codeallthethingz commented on #38
and then I didn't!  Removing me as assignee till next weekend.

[2018-04-30 16:11] dlsteuer commented on #76
started working on this, we're actually using httprouter forgot about that. The linked project will work with that though.

[2018-04-30 16:12] dlsteuer commented on #75
Another requirement needs to be a package script, that builds all assets so they could be deployed to S3 or something like that

[2018-04-30 16:28] #74 closed

[2018-04-30 20:37] #76 closed

[2018-04-30 23:59] graeme-hill commented on #70
So after experimentally implementing this is a way that ticks all the boxes, I feel like it's not worth it because it turned out to be more complex than I expected and IMO it's not worth maintaining and extra non-trivial store implementation. I think it would make more sense to keep the existing in-memory store, then eventually add in the redis (or similar) store. Instead we could have a feature i

[2018-05-01 14:50] ColDog commented on #70
Nice, this makes sense. I like the download as JSON button idea. Maybe there's a bigger ticket here on how we'd want to export games? I was thinkinng the server would just continually export games maybe as soon as it's finished with them.

[2018-05-01 15:02] ColDog opened #77 "Merge `engine` and `engine-cli`"
Merge in engine and engine-cli so that they can be released as a single binary.

[2018-05-01 15:08] graeme-hill opened #78 "Export game as JSON"
After a game is complete I can download it as a JSON file. This is a better alternative to #70.

Acceptance
- an API in engine to download the json full list of the frames.
- a way to export this format from the board.

[2018-05-01 15:08] graeme-hill commented on #70
Just created #78

[2018-05-01 15:10] graeme-hill opened #79 "Export game as GIF"
After a game I can create a gif just by clicking a button. No need for a screen recorder.

Acceptance
- 1000 frame game exported in 1 minute.
- some kind of indicator that it's working and you should wait.

[2018-05-01 15:14] ColDog opened #80 "Release Engine Binaries"
It would be great if we could release versions of the engine as binaries and as a docker image. This would make it easier for people on different platforms to use the engine without installing go.

This project looks like it could bootstrap a lot of the work:
https://github.com/goreleaser/goreleaser

[2018-05-01 15:36] ColDog opened #81 "Bug: Error POSTing to End"
This error seems to pop up in the e2e tests:
[code]
Likely needs some investigation.

[2018-05-01 19:42] dlsteuer commented on #70
This is interesting, I would still find it useful to not lose games, when stopping and starting the engine, and not require some other data store like redis. I'm thinking for example a developer who is using windows and can't just docker run redis. Being able to have the inmem store flush and restore from disk would be quite useful. I'd like to keep this one open

[2018-05-01 19:46] graeme-hill commented on #70
oh ok well I have a branch and I can make a PR if you want

[2018-05-01 19:49] dlsteuer commented on #70
Sure you can make a pr, did you do a new store implementation or extend the existing inmem store? Also if you want to make it simpler, it could just flush the map to disk using something like https://golang.org/pkg/encoding/gob/, the files on disk don't have to be readable, especially if something like #78 is available.

[2018-05-01 21:18] graeme-hill commented on #70
Ya that's what I'm thinking now too. With the export feature we can just write the proto binary objects or use a lib like you suggested. I'll look into that.

[2018-05-03 04:08] graeme-hill commented on #81
Not sure if I'm doing this right but I can't reproduce with `make test-e2e`

[code]

[2018-05-03 06:45] dlsteuer commented on #36
It will be publicly documented as part of the engine api spec

[2018-05-04 02:54] #70 closed

[2018-05-04 19:15] graeme-hill opened #82 "Console flooded with warnings on "engine all""
If you start engine with the `all` command there is a chance that your console will get filled with warnings that look like this:

[code]

There is so much text that it fills up the entire console buffer. Looks like a race condition. For me it usually pops up if I start engine with these args:

[code]

I think that just means that the timing of goroutines is altered enough that worker wins the rac

[2018-05-04 19:41] graeme-hill commented on #82
Also if you run `engine worker` without a controller then the worker will use up 100% of one CPU core and the console will use 100% of another core until the controller becomes pingable.

[2018-05-09 00:31] codeallthethingz commented on #68
We will be deploying this as a build artifact, but we don't want to manage a development environment in docker internally.

[2018-05-09 00:37] codeallthethingz opened #83 "Deploy engine to production"

[2018-05-09 00:37] codeallthethingz opened #84 "Deploy play to production"
- [x] Helm chart
- [x] few secrets needed (for github)
- [x] add people to battlesnake vault in 1password

[2018-05-09 00:37] codeallthethingz opened #85 "Deploy board to production"
- [x] setup travis build to deploy to the clouds!

[2018-05-09 16:33] torbensky commented on #52
That's interesting, I didn't know that actually, so thanks @graeme-hill. Sounds like it's just open season on headers now and we could just use a `Battlesnake-Version` header.

[2018-05-12 02:54] #82 closed

[2018-05-12 03:01] dlsteuer opened #86 "Reliable Engine Startup"
There was a stop-gap merged into the engine battlesnakeio/engine#31 to not flood the log with warnings if controller wasn't available on worker startup. We should have some sort of reliable startup, look into exponential backup in the worker, and api startup, both require the controller to be available. One piece of the criteria for this would be the console is not flooded with logs about controll

[2018-05-12 03:08] #36 closed

[2018-05-12 06:30] graeme-hill commented on #86
This looks good to me. Some useful test cases will be:

* Run `engine all --backend file` without any warnings in log (ie: ping succeeds on first attempt).
* Run `engine worker` then wait a little bit then run `engine controller` to verify that everything comes online without a ginormous log file. It is ok for some warnings to be in the log though in this case.

[2018-05-12 06:55] graeme-hill opened #87 "Zeros omitted from json in API responses"
In these API endpoints:

* `/games/:id/frames`
* `/socket/:id`

The data sent to the client are JSONized `pb.GameFrame` objects. Since the proto code generator adds the `omitempty` option to every field, integers are not included in the json when their value is zero. This isn't an issue when the client is also in Go because it just defaults to zero anyways. However, for a JS client it's pretty wei

[2018-05-12 18:44] graeme-hill opened #88 "Engine websocket endpoint doesn't allow cross origin requests from browser"
This stops you from directly calling `/websocket/:id` from JS in a browser.

[2018-05-12 19:31] dlsteuer commented on #88
Fixed in battlesnakeio/engine#32

[2018-05-12 19:31] #88 closed

[2018-05-12 19:34] dlsteuer commented on #87
Yes I think this is a bug, it's also a side effect of exposing the protobuf based objects outside the controller. It also looks like we probably shouldn't be using the standard encoding/json package for serialization, see https://godoc.org/github.com/golang/protobuf/jsonpb which is the protobuf -> json serialization package. But it looks like though that package will still omit the empty fields. I

[2018-05-12 22:12] codeallthethingz opened #89 "test triage bot"

[2018-05-12 22:12] codeallthethingz commented on #89
Cool.  A triage label is added by probot now.

[2018-05-12 22:13] #89 closed

[2018-05-12 22:42] codeallthethingz opened #90 "Uptime checker for battlesnake.io / engine.battelsnake.io / play.battlesnake.io"
Acceptance
- slack notifications into #fires channel in the battlesnake slack org if any of these systems fail a ping check.

[2018-05-12 23:09] codeallthethingz commented on #1
Done.

[2018-05-12 23:09] #1 closed

[2018-05-12 23:29] #5 closed

[2018-05-12 23:29] codeallthethingz commented on #6
agreed.

[2018-05-12 23:29] #6 closed

[2018-05-12 23:30] codeallthethingz commented on #7
Yep.

[2018-05-12 23:30] #7 closed

[2018-05-12 23:30] codeallthethingz commented on #8
yep.

[2018-05-12 23:30] #8 closed

[2018-05-12 23:31] codeallthethingz commented on #10
There's a probot that does this.

[2018-05-12 23:32] codeallthethingz commented on #10
https://probot.github.io/apps/dco/

[2018-05-12 23:33] codeallthethingz commented on #10
I added this bot, does that cover off everything that you wanted ?

[2018-05-12 23:33] codeallthethingz commented on #10
@bvanvugt

[2018-05-13 16:29] codeallthethingz commented on #20
Rejecting this as people are too busy to be building craft things as well as their snakes.

[2018-05-13 16:30] #20 closed

[2018-05-13 16:55] codeallthethingz commented on #21
@joram I think this ticket should change to the following

Title: Ensure starter snakes are complete

- [ ] Update starter-snake readme in the community page about having a tutorial video + readme for deploying to heroku.  Add the technology choice for the recordings and to contact Will to put the recordings in the Monty the Python youtube channel.
- [ ] decide which language snakes we are going t

[2018-05-13 17:12] codeallthethingz commented on #23
Needs acceptance
- How long do we need to store it?  (TTLs)
- how fast do the reads need to be
- how many reads do we need to support concurrently
- Are there price concerns?

[2018-05-13 17:25] codeallthethingz commented on #26
We're going to have video tutorials:  https://github.com/battlesnakeio/roadmap/issues/21

[2018-05-13 17:25] #26 closed

[2018-05-13 20:27] graeme-hill commented on #23
Also: is the `Store` interface finalized? If not then do we anticipate wanting read operations like "list all games in time frame" or "list all games including snake X". If we need to do any indexing other than just game ID then it makes a big difference.

[2018-05-13 20:37] dlsteuer commented on #23
I think we can call the current interface complete, there was ways in Go to extend functionality without modifying interfaces, common go idiom is to keep interfaces as small as possible and when you need new functionality is add a new interface. Since interfaces in Go are implemented implicitly, we can add a type check for any new functional interfaces that are added.

[2018-05-14 20:08] joram commented on #58
@CDFriend how's that branch going?

[2018-05-14 23:36] CDFriend commented on #58
Sorry, got caught up with other things here...I currently have the HTML form and a way of sending a request to the engine directly from the browser.

Might still be a couple weeks before I can get this done - if you'd like I can open a PR with what I have?

[2018-05-16 01:29] joram opened #93 "Create a production database for play"
can it be postgres?
should be a basic relation database that django has a db backend for.

[2018-05-16 01:30] joram opened #94 "create a docker image for play to run in production"

[2018-05-17 00:08] codeallthethingz opened #95 "Change the function new<SnakeRequest> --> DecodeSnakeRequest"
allocate struct outside of the function.

This is for clear understanding of allocation

[2018-05-17 00:09] codeallthethingz commented on #95
@zrdaley  we had a quick discussion internally and we think you were right all along.
Referenced in the video.

[2018-05-17 00:14] codeallthethingz opened #96 "Add Travis-ci to the repos"
- [x] community
- [x] board
- [ ] play
- [x] engine
- [x] infrastructure
- [ ] ~docs~

[2018-05-17 00:19] codeallthethingz opened #97 "Define and document game rules"
A ticket that links to all the game rules that should make it into documentation

https://github.com/battlesnakeio/roadmap/issues/92

[2018-05-17 00:27] codeallthethingz commented on #25
Brad: Teach real world skills is not necessarily "advanced" real world programming skills.

[2018-05-17 00:27] #25 closed

[2018-05-17 00:28] #24 closed

[2018-05-17 00:40] codeallthethingz opened #98 "Create a helm chart for all the things."
- [x] play
- [x] engine
- [x] redis
- [x] postgres

[2018-05-17 00:41] codeallthethingz commented on #98
There is a test helm chart inside the infrastructue that can be used as a starting point.
@matthieudolci  can you add a link?

[2018-05-17 00:42] codeallthethingz opened #99 "Games aren't flipping to completed they become stopped"
1. Start engine
2. Create and run game
3. Wait for game to complete
4. Check game status is stopped instead of complete

Acceptance
- e2e test that games end in completed state.

[2018-05-17 00:43] codeallthethingz commented on #99
@dlsteuer can you add steps to reproduce.

[2018-05-17 01:31] matthieudolci commented on #98
here is the link to the template helm chart for services needing an ingress [Test chart](https://github.com/battlesnakeio/infrastructure/tree/master/charts/test)

[2018-05-17 15:46] zrdaley commented on #95
Nice! I can make another PR to the go snake.

[2018-05-19 21:41] codeallthethingz commented on #27
Closing as engine now has a readme.

[2018-05-19 21:41] #27 closed

[2018-05-19 21:45] codeallthethingz commented on #34
Lets do this in the next meetup on a whiteboard and take a picture of it and then we're done.

[2018-05-19 21:46] codeallthethingz commented on #47
@dlsteuer   I think this is now done: https://github.com/battlesnakeio/docs/blob/master/apis/engine/spec

?

[2018-05-19 21:48] codeallthethingz commented on #50
Closing as I think this is taken care of.  Please reopen if I'm wrong

[2018-05-19 21:48] #50 closed

[2018-05-19 21:49] codeallthethingz commented on #52
I think this is actually an engine task? If your snake wants to do something with the information that's up to you.  We're only going to support the new format going forward.

[2018-05-19 21:50] codeallthethingz commented on #54
Needs acceptance

[2018-05-19 22:39] dlsteuer commented on #47
I just added an update to the spec, which gives the extra parameters on the frames call, and adds the websocket url

[2018-05-19 23:27] dlsteuer commented on #99
So this appears to have resolved it self, after some of the changes since I last checked 🤷‍♂️ going to close now.

[2018-05-19 23:27] #99 closed

[2018-05-19 23:59] torbensky commented on #23
I noticed the inmem store returns an error for PopGameID. This isn't documented on the interface so afaik it's not necessarily required. I think a nil string would suffice and prefer that over using an error.

[2018-05-20 00:53] dlsteuer commented on #23
It does return an empty string and an error. I'm not quite sure what you are referring too. The return type is string, error for PipGameID

[2018-05-20 01:29] codeallthethingz commented on #39
first pass: https://github.com/battlesnakeio/archived-starter-snake-java/pull/1

[2018-05-20 03:38] torbensky commented on #23
It does return both, but Go best practices dictate you check the error result first. So if you go by that convention, then that implementation returns the `ErrNotFound` error in that case.

[2018-05-20 04:03] dlsteuer commented on #23
oh, I'm not entirely sure that Go best practices dictate that, if you look at the standard library, particularly database/sql, it will return sql.ErrNoRows when no result is found. I don't really like that and would prefer not. I think the store implementations should be consistent.

[2018-05-20 04:05] dlsteuer commented on #23
I also think there is some confusion here about what you are talking about, so it might be best to discuss it in person.

[2018-05-20 16:41] codeallthethingz commented on #58
@CDFriend yes please - connect this issue to the PR and we'll take a look.

[2018-05-20 16:47] codeallthethingz commented on #59
Made it a bit more story centric.

[2018-05-20 17:11] torbensky opened #100 "Store PopGameID doesn't pop - rename to peek"
The documentation for the `Store` interface doesn't mention that a game should be removed from the available set. The inmem reference implementation also doesn't remove a game from the available set. Because of this, the operation is actually what would be called a "peek" operation in normal queue/stack terminology.

For this reason, I am suggesting we should make it clearer by renaming `PopGameID

[2018-05-20 17:20] torben-swu commented on #23
I'm 100% onboard for consistency either way :+1:

[2018-05-20 17:25] codeallthethingz commented on #65
Lets do this at the next meeting.

[2018-05-20 17:27] codeallthethingz commented on #61
I think we should be permissive and let anyone add an existing member.  I don't think this would be abused?

[2018-05-20 17:31] codeallthethingz commented on #67
are we doing this?

[2018-05-20 17:31] codeallthethingz commented on #68
Closing as we don't want to support this.

[2018-05-20 17:31] #68 closed

[2018-05-20 17:38] dlsteuer commented on #67
I think we should it would help keep the engine in sync with the schemas

[2018-05-20 17:42] codeallthethingz commented on #69
Unit tests are now complete.

I've been thinking about the e2e test for snakes as mentioned in this thread.

Here's what I'm thinking for cross compatibleness.

You launch chrome in insecure mode with a webpage so it can make ajax requests to localhost.  The Javascript on that page calls, in turn, `/start`, `/move`, `/end` and validates that it gets back json with some checking.

I think this coul

[2018-05-20 17:45] ghost opened #101 "Simplify engine `Store` contract to CRUD, push more logic into upper layer"
I'd like to push for the architectural idea of simplifying the store operations more along the lines of basic CRUD and then pushing any complicated coordination stuff into a higher level like the controller layer. This would make it a lot easier to write new `Store` implementations and it would allow us to modify the behavior faster across all store implementations.

A big benefit of simplifying s

[2018-05-20 17:49] torbensky opened #102 "Store inconsistencies"
https://github.com/battlesnakeio/engine/blob/master/controller/store.go#L34

`Lock` says the token is required to write frames for a game. However, the `PushGameFrame` method makes no use of a token. Furthermore, other game mutating operations like `CreateGame` and `SetGameStatus` also do not make use of a lock token.

1. Lock method dictates how game frame method works
2. Game frame method does n

[2018-05-20 17:55] torbensky commented on #101
I think probably the interface would stay largely as it already is, but some of the documented and undocumented requirements for it would be changed. For example, not requiring the running status to be checked by the storage layer, instead pushing that into the controller layer.

[2018-05-20 18:08] torbensky opened #103 "Store.Lock should accept a time.Duration value for lock expiration"
I don't think we should leave this up to the storage layer. It would be better if the controller was able to know how long the locks should be good for so that it could use the locks for distributed coordination more reliably.

https://github.com/battlesnakeio/engine/blob/master/controller/store.go#L35

Suggestion:
// exp is the amount of time before the lock expires. 0 means no expiry.
`Lock(ctx

[2018-05-20 18:16] torbensky opened #104 "Remove `PopGameID`, instead, list games with filters"
https://github.com/battlesnakeio/engine/blob/master/controller/store.go#L41

Instead of this operation, make a more general operation that will list games (filterable by status). The controller could use its own locking if it wants to avoid race conditions for picking an unlocked, running game or it could just try and retry allowing the first to lock a game to win.

Speaking from my experience imp

[2018-05-20 18:51] torbensky opened #105 "Add Store.Close` method"
It's possible that a lot of stores will need to cleanup some things. We should probably add a `Close` method to the `Store` interface. Implementations that don't require cleanup can just do a no-op.

Suggestion:
`Close() error`

[2018-05-20 19:15] codeallthethingz commented on #73
I believe this is complete.

[2018-05-20 19:15] #73 closed

[2018-05-20 19:17] codeallthethingz commented on #69
Quick POC:

<img width="1440" alt="screen shot 2018-05-20 at 12 14 39 pm" src="https://user-images.githubusercontent.com/1261268/40282672-bd8c6d58-5c27-11e8-8ee5-6fd91b7823f4.png">

[2018-05-20 19:18] codeallthethingz commented on #69
Command to run in insecure mode for mac:

[code]

[2018-05-20 21:06] dlsteuer commented on #105
I would suggest making this a separate interface something like StoreCloser with a close method. This would be more idiomatic go imo

[2018-05-20 21:26] dlsteuer commented on #102
I think this might actually be a deficiency of the other methods and they probably should require a lock token to write game data. So I think we should actually fix the other methods and you can only mutate game data if you hold the lock.

[2018-05-20 21:28] dlsteuer commented on #104
I'm against this, similar to the other ticket about CRUD only, I don't think Stores are CRUD only, they also have to manage the concept for a lock around a game. ListGames is not sufficient to find a game that is unlocked and ready to be worked on.

[2018-05-20 22:33] graeme-hill opened #106 "Food spawning on top of living snake"
It looks like food is spawning in totally random locations even if there is a snake there. This is easier to see if you use the newest version of board on my fork because food is rendered over top of snakes: https://github.com/graeme-hill/board

[2018-05-21 00:49] graeme-hill commented on #106
I need to look into whether this is an engine issue or a UI issue in board

[2018-05-21 05:48] torbensky commented on #102
It's a poor architecture to push the locking down into the storage imo. That pushes a lot of complexity into the data layer, of which we already have 3 implementations. This would make the project much harder to maintain and change in the future. The locking should be done at the controller level. I think it will require a lot more work in the long run. Maybe even in the short term. I think the re

[2018-05-21 05:54] torbensky commented on #101
I think there are clear benefits. There is 1 controller, 3 storage implementations (for now). Putting coordination logic in the controller means it's in one place. If we put it in Store, it means every additional thing we push into the storage layer's responsibility gets duplicated 3 times. This will lead to more bugs due to store layer implementation differences that the controller will need to r

[2018-05-21 05:58] torbensky commented on #104
I don't feel as strongly about this as I do about the CRUD stuff but I also think this isn't tied to that. I believe a list method would be better because it leaves more flexibility for future needs (can retrieve other types of games) while also solving the problem we have right now (retrieving only 1 type of game). Seems win-win to me so I'm not sure what the objection is about?

[2018-05-22 19:42] graeme-hill commented on #106
Ok so I found a game where the food is appearing on top of the snake. Then to check if it's just screwed up on the UI I found the turn number and cell with overlap.

Turn: 163
Overlapping cells: (11,19) and (13,19)

So I grabbed just that frame from the server with this api call:

[code]

The response looks like this:

[code]

The two cells mentioned above appear in the snake "Test2" and in the Fo

[2018-05-23 00:27] joram commented on #67
yes we're doing this, and lets make a ticket. in V2.

[2018-05-23 00:30] joram commented on #65
starter snake
game
  - game frame
board
scoreboard
snake api
engine api
<repos>

[2018-05-23 00:36] joram commented on #54
Acceptance:
a paragraph with pretty words around sponsoring and contact info

[2018-05-23 00:39] graeme-hill opened #107 "Starter snakes should give an error or warning on incompatible version"

[2018-05-23 00:41] #47 closed

[2018-05-23 16:07] #39 closed

[2018-05-25 02:53] CDFriend commented on #58
@codeallthethingz Created a pull request here: https://github.com/battlesnakeio/play/pull/8

[2018-05-31 00:28] codeallthethingz commented on #29
going to add the grid.

[2018-06-01 16:32] will-swu commented on #29
![img_20180531_155736](https://user-images.githubusercontent.com/35037777/40852239-a857c332-657e-11e8-9e1c-3c2812a767fa.jpg)

[2018-06-01 22:02] codeallthethingz opened #108 "PR T-shirts"
Battlesnake PR T-shirts for people who contributed a PR to the open source projects.

[2018-06-04 16:57] nbw commented on #106
Taking a stab at this one. should have a PR shortly.

[2018-06-05 23:54] will-swu commented on #34
![img_20180530_173740](https://user-images.githubusercontent.com/35037777/41008661-104d7d28-68e1-11e8-885e-32ac8b64c8c9.jpg)

[2018-06-06 00:07] codeallthethingz commented on #108
@stozula could you design these?

[2018-06-06 00:08] codeallthethingz commented on #108
github merge snake?

[2018-06-06 00:10] codeallthethingz commented on #29
MVP = 8 players until we move to a more complicated, but fair situation will be v2

[2018-06-06 00:29] codeallthethingz commented on #81
can't reproduce.   Please add steps.

[2018-06-06 00:29] #81 closed

[2018-06-06 00:30] codeallthethingz commented on #83
done by daniel.

[2018-06-06 00:30] #83 closed

[2018-06-06 00:30] codeallthethingz commented on #84
depends on postgress and docker.

[2018-06-06 00:31] codeallthethingz commented on #86
Currently not high priority but we should do it.

[2018-06-06 00:32] codeallthethingz commented on #95
Done!

[2018-06-06 00:32] #95 closed

[2018-06-06 00:33] codeallthethingz opened #109 "Add tests to play"
Unit test coverage +10%

[2018-06-06 02:20] codeallthethingz commented on #108
![image](https://user-images.githubusercontent.com/1261268/41012225-79d7dd10-68f5-11e8-8a0f-a6a85a61863a.png)

[2018-06-06 02:20] codeallthethingz commented on #108
![image](https://user-images.githubusercontent.com/1261268/41012244-8a65782c-68f5-11e8-9d1c-3c63ccfb713e.png)

[2018-06-06 02:30] codeallthethingz commented on #34
https://github.com/battlesnakeio/community/pull/23

[2018-06-06 02:30] #34 closed

[2018-06-09 19:01] CDFriend commented on #58
I'll keep working on the POST to the engine in this ticket. There'll probably be some refactoring of the HTML here, as I'll have to integrate with the `django.forms` module to send form data back to the server.

[2018-06-11 15:01] ColDog commented on #23
@torbensky / @dlsteuer Interface documentation is done via unit tests:

https://github.com/battlesnakeio/engine/blob/master/controller/store_test.go

These tests should pass for all stores.

[2018-06-11 15:10] ColDog commented on #104
This would push game selection algorithm to the worker instead of the controller. What is the advantage of pushing it to the worker? To me, it seems that keeping the game selection algorithm in the controller is more valuable.

[2018-06-11 15:11] ColDog commented on #105
+1 @dlsteuer ya or use `io.Closer`

[2018-06-11 15:12] ColDog commented on #103
How could the controller use this for more reliable distributed coordination? I can't think of any use cases but seems like a small change. Just curious, maybe throw out a use case?

[2018-06-11 15:23] ColDog commented on #102
Couple things, the original architecture was to not allow mutating game state if a lock is not held, I think @dlsteuer is right need to update those methods that are mutating state without holding locks.

@torbensky it's not necessarily a "poor architecture" it was designed to allow the storage interfaces to make optimizations as necessary for locking (a redis pipeline is a perfect example). Maybe

[2018-06-11 15:24] ColDog commented on #101
@torbensky I'm lacking a little insight into how this will specifically change the architecture so can't really visualize how this will help / not help things.

[2018-06-11 15:32] ColDog commented on #100
I'm always in favour of renames if it is more clear. Just going through The reason that it is named `PopGameID` is because it pops a game off of a queue that is unlocked games. Implementation details for each store represent this queue in not necessarily a queue like data structure.

[2018-06-11 18:22] dlsteuer commented on #105
Yup this is done in battlesnakeio/engine#42

[2018-06-11 18:22] #105 closed

[2018-06-11 18:22] dlsteuer commented on #106
Issue has been merged in, should be fixed now.

[2018-06-11 18:22] #106 closed

[2018-06-20 00:13] #23 closed

[2018-06-20 00:14] graeme-hill opened #110 "Snake doesn't die when it crashes into itself"
I ran a game and one of the snakes did a U-turn, drove through itself, and did not die. This is just a guess but the bug may be that the server doesn't detect that you should die if you do a U-turn?

It would be a good idea to try to reproduce this with a test and then make the test pass.

[2018-06-20 00:17] #46 closed

[2018-06-20 00:17] #45 closed

[2018-06-20 00:17] #40 closed

[2018-06-20 00:20] graeme-hill commented on #110
Here are all the frames from the game

[frames.txt](https://github.com/battlesnakeio/roadmap/files/2117325/frames.txt)

[2018-06-20 00:21] codeallthethingz opened #111 "Keep snakes alive once they're added to a tournament bracket - django command"
It sucks when you spend all day writing a snake and then it dies due to heroku shutdown

 Acceptance
- ping for aliveness every 30 seconds.
- display somehow in the tournament dashboard that a snake is non-responsive
- display snake status in the play interface

Implementation idea
- background job to ping snakes.

[2018-06-22 01:11] nbw commented on #110
I'd like to take this one if I have some time over the next week or so.

[2018-06-22 01:31] dlsteuer commented on #110
just realized the problem is completely because of this if statement https://github.com/battlesnakeio/engine/blob/master/rules/death.go#L42 so should be pretty easy to fix.

[2018-06-22 17:23] torbensky commented on #102
Coordination shouldn't be pushed into the storage layer. There are many storage backends which don't have good support for distributed locking. But not only that, even if we restrict ourselves to the storage technologies that can do locking, we'd have to re-implement and test distributed locking in each persistence layer we use (which already is at 3).

Instead, we should have a separate coordinat

[2018-06-22 17:29] torbensky commented on #103
Classic example is the try lock, wait, try again. Usually you want to wait before retrying and that wait is based somewhat off the lock expiration times. If we leave the expiration up to each persistence layer then we have trouble waiting an appropriate amount of time. Especially if the wait times are different in each persistence implementation. Not only that, what if we want to change lock expir

[2018-06-24 00:44] nbw commented on #110
PR [here](https://github.com/battlesnakeio/engine/pull/43)

[2018-06-24 15:45] dlsteuer commented on #110
PR merged

[2018-06-24 15:45] #110 closed

[2018-06-25 16:28] nbw commented on #87
working on a PR for this.

[2018-07-07 20:58] CDFriend commented on #58
@codeallthethingz Looks like this may have been covered in https://github.com/battlesnakeio/play/pull/10 - should we close this ticket?

[2018-07-12 00:12] codeallthethingz commented on #80
Done

[2018-07-12 00:12] #80 closed

[2018-07-18 00:15] #57 closed

[2018-07-18 23:55] codeallthethingz commented on #62
moved to 1.1 as we don't need this for launch.

[2018-07-26 00:07] #38 closed

[2018-07-26 00:09] #37 closed

[2018-07-26 00:13] codeallthethingz commented on #41
@wilson496  did you start work on this?

[2018-07-26 00:19] codeallthethingz commented on #93
Done

[2018-07-26 00:19] #93 closed

[2018-07-26 00:21] codeallthethingz commented on #75
@brandonb927  is gonna take a crack at type of death.

[2018-07-26 03:03] wilson496 commented on #41
Haven't had a lot of time to work on this. I made a basic template for it.

I'll make a pull request to compare.

[2018-07-26 17:34] codeallthethingz commented on #87
Completed with #44

[2018-07-26 17:34] #87 closed

[2018-07-26 23:20] codeallthethingz opened #112 "2019 teaser page"
- [ ] sign up for sponsorship updates
- [ ] sign up for 2019 event updates
- [ ] Video
- [ ] github links
- [ ] contact info

[2018-07-26 23:25] codeallthethingz opened #113 "2019 Build a snake / Opensource community pages"
- [x] How to build a snake page
    - [x] tutorial links
    - [x] snakes page
- [x] Opensource Development page
    - [x] github links

[2018-07-26 23:30] codeallthethingz commented on #75
I think we're done for play? :)

[2018-07-26 23:31] #75 closed

[2018-07-26 23:38] codeallthethingz commented on #96
Closing this out as there is another task to add play to travis so don't need to track here.

[2018-07-26 23:38] #96 closed

[2018-07-27 20:34] matthieudolci opened #114 "Bad Request (400) when starting play"
When trying to deploy Play on our production environment, we keep getting a `Bad Request (400)` error page [https://play.battlesnake.io](https://play.battlesnake.io)

The database has been setup with: `django-admin migrate`

There is also a weird behavior where we will get a 400 when debug is off, but if debug is turn on the login page will load.

The same error can be reproduce locally.

[2018-07-27 20:49] codeallthethingz commented on #114
@matthieudolci what do the logs say?

[2018-07-27 20:53] matthieudolci commented on #114
The logs are empty

[2018-07-27 21:22] brandonb927 commented on #114
I got a 400 when running this locally when I didn't have the Postgres stuff setup correctly.

[2018-07-27 21:23] brandonb927 commented on #114
@matthieudolci are you making sure you define the `ENV=production` flag when running? Also I think you should run the migrations with `./manage.py` instead of directly with `django-admin`?

[2018-07-27 22:34] brandonb927 commented on #114
Looks like @matthieudolci and I solved it with https://github.com/battlesnakeio/play/commit/920fa3118056afa9200a2f9277e7961f724c728c and https://github.com/battlesnakeio/play/pull/23, we can close this now!

[2018-07-27 22:34] #114 closed

[2018-07-27 22:36] brandonb927 opened #115 "Harden play Django server config now that it's deployable"
There's a [deployment checklist](https://docs.djangoproject.com/en/2.0/howto/deployment/checklist/) in the Django docs that points out some simple wins you can achieve by adding/flipping variable values in production. There's a few we can to that are easy wins, plus we should brainstorm some ways to make it more secure outside of the config (nginx values, etc.)

[2018-08-01 00:25] codeallthethingz opened #116 "Get static assets working on play"

[2018-08-01 00:29] codeallthethingz opened #117 "Define Polish Milestone"

[2018-08-01 00:29] #98 closed

[2018-08-01 00:30] codeallthethingz commented on #85
automated builds that get sent to dockerhub

[2018-08-01 00:30] #85 closed

[2018-08-01 00:30] #84 closed

[2018-08-01 00:32] codeallthethingz opened #118 "Add versioning for Play and Board"
AC
- [ ] play
- [ ] board

[2018-08-01 00:33] codeallthethingz opened #119 "Board doesn't resize when bigger than 20x20"
Steps to reproduce

- create a board 30x30

Expected

Screen fits in display

Actual

Truncated board.

[2018-08-01 00:40] codeallthethingz opened #120 "Tron mode"
AC
- infinite tail
- no health requirements

Implementation ideas

Engine modules
Fork the engine
Engine configurations

[2018-08-01 00:42] codeallthethingz opened #121 "Process for bounty snake ideas"
AC
- Documentation that
  - Bounty snake ideas need to modify the engine and run locally.
  - If you want the idea to be merged into the main engine with a configuration to turn it on chat with the engine maintainer / game master in the battlesnake slack channel to talk about the architectural approach and whether this is likely to make it into mainline.

Original ticket
-----
People want to add c

[2018-08-01 00:50] codeallthethingz opened #122 "Bad snakes"
As a game player
I can expect that the engine will continue to function even when given really bad snakes
such that I can iterate on my snakes without fear of breaking things
that I can know that my mistakes won't affect other snake builders
That the tournament cannot be brought to it's knees maliciously or by mistake

AC
- Engine gracefully handles crazy snake URLs and continues to function norma

[2018-08-01 03:14] brandonb927 commented on #116
I'm on it!

[2018-08-01 03:42] brandonb927 commented on #117
Included in this should be:
- Colour palette chosen besed on this years design
  - (optional) design assets from @stozula?
- path forward for UI structure and design
  - we're using Bootstrap 4, and it's fairly trivial task to add a new theme asset, so best to go this route. thoughts?

[2018-08-01 03:42] brandonb927 commented on #119
@graeme-hill you mentioned you had some work on this front to improve resizability of the board in SVG?

[2018-08-01 05:02] brandonb927 commented on #116
This has been merged, just waiting on a deploy now.

[2018-08-01 05:11] brandonb927 commented on #62
I added this to the Polish milestone

[2018-08-03 06:29] codeallthethingz commented on #121
@dlsteuer I like 1 or 4 the best.  What do you think?

[2018-08-03 15:38] dlsteuer commented on #121
I like either #2 or #4 the best

[2018-08-08 17:20] brandonb927 opened #123 "Verify the battlesnakeio org on GitHub"
We should [verify this org](https://help.github.com/articles/verifying-your-organization-s-domain/) as an extra level of ownership over Battlesnake IP and the battlensnake.io domain.

[2018-08-09 00:03] codeallthethingz opened #124 "Serving static items not working"
Steps to reproduce

- Go to create a new game.
- Try to add more than one snake.

Observed
- You can't.

Expected
- You can.

We think its this >
![image](https://user-images.githubusercontent.com/1261268/43870552-efa9a460-9b2c-11e8-8e19-b783ec1c1533.png)

[2018-08-09 00:11] codeallthethingz commented on #124
We haven't told django where to serve files from.  Might be going up a folder.  Need to move the files somewhere else / define the static directory.

[2018-08-09 00:12] codeallthethingz commented on #124
from Daniel: `BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))`

[2018-08-09 00:35] codeallthethingz commented on #124
Turns out you can't serve static files from Django in prod. :(

[2018-08-09 04:12] #113 closed

[2018-08-09 20:36] #124 closed

[2018-08-10 03:27] codeallthethingz commented on #123
Doh!  Realized that I created a txt record on dnssimple, but our hosting is on GCP.  Updated there and waiting for the propagation again.

[2018-08-10 03:29] codeallthethingz commented on #123
Verified!

[2018-08-10 03:29] #123 closed

[2018-08-10 03:44] codeallthethingz commented on #62
This is done.  I believe you did it Brandon. :)

[2018-08-10 03:44] #62 closed

[2018-08-10 03:46] #116 closed

[2018-08-10 03:55] #61 closed

[2018-08-10 04:15] codeallthethingz opened #125 "API to validate snake"
As a snake developer
I can test my snake and get feedback about how it is configured
Such that I can quickly see how the snake responds to different engine calls

Acceptance
- Gives a score out of 100.  100 being responds correctly to all API calls under the time limit.
- Gives helpful error messages when the response schema is wrong or the snake errors out or it times out.
- returns timing inform

[2018-08-10 04:15] codeallthethingz commented on #69
Going to close this in favour of https://github.com/battlesnakeio/roadmap/issues/125

[2018-08-10 04:15] #69 closed

[2018-08-10 04:26] codeallthethingz opened #126 "Visualization of validate snake API"
Depends on: https://github.com/battlesnakeio/roadmap/issues/125

As a tournament goer
I have a way to visually tell if my snake is working yet
such that I can get a fun feeling about my snake status
such that teams will be confident that their snake will at least compete in a heat

AC
- hidden behind some kinda flydown in the snakes page
- set of information displayed that gets returned from the e

[2018-08-10 04:31] codeallthethingz commented on #18
Currently being worked on here - we need help

https://github.com/battlesnakeio/play/pull/20

[2018-08-10 04:32] #14 closed

[2018-08-13 00:02] brandonb927 opened #127 "Play/pause/step forward/backward functionality"
As a user, I want to be able to play, pause, and step forward/backwards while re-watching a game.

This would only be applicable to a game that has been played out by the engine.

Acceptance:
- can play a game from the beginning or current frame position
- can pause a running game on the current frame
	- can step forward or backward a frame at a time while paused
- can restart the game from the fi

[2018-08-14 17:37] codeallthethingz opened #128 "Add job postings to the website"
AC
- Battlesnake Coordinator job posting.

[2018-08-14 22:02] codeallthethingz opened #129 "Make a trophy"
Acceptance
- Budget approved by @codeallthethingz before you build it.

Idea
- record the winning battlesnake and have it play as a battery powered led device amulet.

Implementation
1. Buy raspberry pi.
1. Export game as gif.
1. Figure out gif replay  on an adafruit.  https://learn.adafruit.com/adafruit-rgb-matrix-plus-real-time-clock-hat-for-raspberry-pi

[2018-08-15 00:09] codeallthethingz commented on #129
If you export as gif you could do this pretty simply.

[2018-08-15 00:24] codeallthethingz opened #130 "Migrate your snake from last year doc"
AC
- Pull Request on the docs repo for a markdown doc describing the conversion process.

[2018-08-15 00:32] codeallthethingz opened #131 "Spike: Istio as service mesh"
AC
- POC of Istio running somewhere.

[2018-08-15 01:57] codeallthethingz commented on #129
https://www.youtube.com/watch?v=G13RV-qsab8

[2018-08-18 06:31] brandonb927 commented on #130
This can be closed as of https://github.com/battlesnakeio/docs/pull/6

[2018-08-18 06:35] brandonb927 commented on #119
This should be solved with https://github.com/battlesnakeio/board/pull/9

[2018-08-19 01:04] MarkZsombor opened #132 "Alive/Dead Status is not sent out to players"
In the current spec/engine unless a snake has died from hunger (health == 0) there is no way for other players to know if the other snakes in the game are alive or dead.

Schrodinger's snakes if you would.

[2018-08-22 16:04] nbw commented on #41
taking this one.

[2018-08-29 00:27] nbw opened #133 "Achievements"
We could add tracking to the game and give teams some feedback on their achievements, but also something for the presenters to use on the day of like:

* who's killed the most snakes?
* who's snake at the most food?
* survived the longest (not necessarily at the most)
* etc.

We'd just need to record a few key points, maybe send a sum at the end of the game like total kills, snake length, turn num

[2018-08-29 03:43] MarkZsombor opened #134 "Change in order for when death is assessed from last year."
Last year once all the snake moves were taken in by the engine it would perform the following steps:

1. Move Head
2. Determine if Snake has eaten food
3. Remove tip of tail if no food eaten
4. Assess snakes for death conditions (such as collisions)

In this year's docs the order is as follows:

1. Move Head
2. Assess snakes for death conditions (such as collisions)
3. Determine if Snake has eaten

[2018-08-29 03:46] MarkZsombor commented on #132
This is written to spec, so the spec will need to be updated.

Last year dead snakes were moved from the snakes object and found in their own dead_snakes object, though other solutions could be adding a flag of some sort onto the snakes (isLiving?) or changing a dead snakes health to zero.

[2018-09-05 17:42] dlsteuer opened #135 "Dead snakes in list of snakes"
We ran an internal battlesnake tournament at Sendwithus, and a couple teams discovered that dead snakes are possibly still being returned in the list of snakes that is sent to the move endpoint.

[2018-09-06 00:14] codeallthethingz opened #136 "Watch command for local snake development"
A way for the engine to watch a local directory structure and if there are changes assume the snake has changed and run a new game in the cli

AC
- engine --watch ./someDirectory

[2018-09-06 00:23] codeallthethingz opened #137 "Worker for play to update game statuses"

[2018-09-12 00:09] brandonb927 opened #138 "1px gaps between snake segments"
I've talked to @graeme-hill about this already and just getting more context here. What follows is the conversation I had re: https://github.com/battlesnakeio/board/pull/9

[code]

[2018-09-12 00:30] codeallthethingz opened #139 "Ensure tournament games are fast and therefore exciting to watch"
As a tournament goer
I am not frustrated by slow snake battles
such that it's thrilling to watch.

Acceptance
- All games in the tournament run at 50ms turn delay or better for the majority of the battle.

[2018-09-12 00:32] dlsteuer commented on #137
This has been completed in
- https://github.com/battlesnakeio/play/pull/34
- https://github.com/battlesnakeio/infrastructure/pull/9

[2018-09-12 03:07] brandonb927 commented on #119
Closed with https://github.com/battlesnakeio/board/pull/9

[2018-09-12 03:07] #119 closed

[2018-09-12 03:07] brandonb927 commented on #125
@codeallthethingz can this be closed now?

[2018-09-12 03:10] brandonb927 opened #140 "The Games list page should scope games to only my team"
The games list page currently shows all games ever created on Play. The behaviour should be changed to scope them to only show games created by the currently logged in team.

[2018-09-12 03:12] brandonb927 opened #141 "Creating a new game + browser back button = bad time"
Because we use Django Formsets and dynamically add snakes on the frontend, going back in your browser breaks and the snakes/fields are cleared from being able to create a new game with the same snakes as the previously created game.

A recommendation here was to always show 8 snake fields to add snakes to, and persist the form data between game creation (possibly using localstorage?)

[2018-09-19 23:46] codeallthethingz commented on #131
Spike was done in-house at sendwithus.  We should move forward with this.

[2018-09-20 00:18] codeallthethingz opened #142 "Make redis perisistant"

[2018-09-20 04:28] brandonb927 commented on #140
Completed with https://github.com/battlesnakeio/play/pull/46

[2018-09-20 04:29] #140 closed

[2018-09-22 21:42] #18 closed

[2018-09-26 02:42] codeallthethingz opened #143 "Lambda snake"
Take a snake and get it running in AWS Lambda or Google Functions.
Write a readme and add a PR for the snake you made serverless.

[2018-09-26 03:25] codeallthethingz opened #144 "Add ping to snake request spec"
acceptance
- /ping endpoint detailed in the swagger yaml.

[2018-09-26 03:27] codeallthethingz opened #145 "Add ping endpoint to starter-snake-python"
AC
- see title

[2018-09-26 03:28] codeallthethingz opened #146 "Add ping endpoint to starter-snake-node"
AC
- see title

[2018-09-26 03:28] codeallthethingz opened #147 "Add ping endpoint to starter-snake-go"
AC
- see title

[2018-09-26 03:28] codeallthethingz opened #148 "Add ping endpoint to starter-snake-java"
AC
- See title

[2018-09-26 03:29] codeallthethingz opened #149 "Add ping endpoint to starter-snake-ruby"
AC
- see title

[2018-09-26 04:52] #148 closed

[2018-09-27 00:20] joram opened #150 "Build Tournament UI"
A UI for managing a tournament for admins only.

AC:
- functionality restricted to an admin list
- can run a tournament from a list of snakes
- restricted from starting `round X` when `round X-1` has not run all games

[2018-10-03 18:41] matthieudolci opened #151 "Move sqlproxy out of side car"
Instead of using sqlproxy side car containers to connect to postgreSQL we should implement this https://github.com/helm/charts/tree/master/stable/gcloud-sqlproxy to allow multiple applications to connect to the db from one point.

[2018-10-04 00:41] codeallthethingz opened #152 "Food spawn with delay"
As an battlesnake contestant
I am challenged by a game mechanic that requires game state to be maintained.
As a beginner programmer I can ignore this completely and just go for any food when I need it.

Instead of instantly respawning food have a predetermined length of time that the food does not respawn.

AC
- TBD

[2018-10-04 00:45] codeallthethingz commented on #125
yes

[2018-10-04 00:45] #125 closed

[2018-10-04 00:47] codeallthethingz opened #153 "Getting started from zero to engine running with snake steps macos"
As a snake developer I can follow a set of easy to follow steps to go from a computer with nothing on it to a working snake and engine dev mode browser working locally.

AC
- Programming environment is NodeJs
- Uses the engine dev mode facilities.
- supports macOS
- is tested on a new programmer to see where the stumbling blocks are.

[2018-10-06 19:31] codeallthethingz commented on #120
Turns out you can already do this by setting food > board.

[2018-10-06 21:46] #128 closed

[2018-10-06 22:00] codeallthethingz commented on #133
I agree with the tracking and the interesting things to talk about for the commentators.

I think calling them achievements implies that the thing they're doing is the correct thing, when in fact we don't know whether long snakes or short snakes do bette.  Giving an achievement for long snakes might be a nudge in the wrong direction.

@dlsteuer In the engine I think we should track these and then

[2018-10-06 22:01] codeallthethingz commented on #134
@MarkZsombor Discussed with @bvanvugt and we're all on the same page so we're going to revert to the same strategy as last year.

[2018-10-06 22:40] #137 closed

[2018-10-07 06:17] dlsteuer commented on #136
The engine has no idea who to run a snake server in the given directory, because it may be any number of languages with any number of start up scripts. I move to close this issue as I don't think it's something the engine should be worrying about.

[2018-10-07 06:17] dlsteuer commented on #134
resolved in https://github.com/battlesnakeio/engine/pull/53

[2018-10-09 23:33] brandonb927 commented on #141
This was closed with https://github.com/battlesnakeio/play/pull/47

[2018-10-09 23:33] #141 closed

[2018-10-10 00:19] codeallthethingz commented on #132
This is actually a duplicate of a bug that we shouldn't send dead snakes at all.

[2018-10-10 00:19] #132 closed

[2018-10-10 00:20] codeallthethingz commented on #71
It's a no snake just continues in the direction.

[2018-10-10 00:20] #71 closed

[2018-10-10 00:28] codeallthethingz commented on #152
What if there is 1 picee of food, and thus several turns where there is no food and therefore the spawn point for the food becomes problematic.

[2018-10-10 00:29] codeallthethingz commented on #120
@dlsteuer

[2018-10-10 00:37] #136 closed

[2018-10-10 00:38] codeallthethingz commented on #153
Wait for https://github.com/battlesnakeio/engine/pull/54 to be merged

[2018-10-10 04:28] brandonb927 commented on #126
Work for this is over at https://github.com/battlesnakeio/play/pull/52

[2018-10-10 17:57] brandonb927 commented on #126
Work on this was completed!

[2018-10-10 17:57] #126 closed

[2018-10-13 20:00] codeallthethingz opened #154 "High npm security issues in node snake"
found 21 vulnerabilities (4 low, 15 moderate, 2 high) in 1764 scanned packages
  run `npm audit fix` to fix 21 of them.

[2018-10-13 21:18] codeallthethingz opened #155 "Getting started from zero to engine running with snake steps windows"
As a snake developer I can follow a set of easy to follow steps to go from a computer with nothing on it to a working snake and engine dev mode browser working locally.

AC
- Programming environment is NodeJs
- Uses the engine dev mode facilities.
- supports windows
- is tested on a new programmer to see where the stumbling blocks are.

[2018-10-13 21:20] codeallthethingz opened #156 "Getting started from zero to engine running with snake steps linux"
As a snake developer I can follow a set of easy to follow steps to go from a computer with nothing on it to a working snake and engine dev mode browser working locally.

AC
- Programming environment is NodeJs
- Uses the engine dev mode facilities.
- supports linux ubuntu
- is tested on a new programmer to see where the stumbling blocks are.

[2018-10-16 03:28] codeallthethingz commented on #118
This made it through triage without the triage label and now I can't remember what it is, putting into needs discussion to raise at the meeting to see if anyone else remembers what this is.

[2018-10-16 03:44] dlsteuer commented on #118
There's no versioning of the play and board docker containers. This ticket is to solve that. Right now k8s is just running off latest image

[2018-10-16 05:15] brandonb927 commented on #138
I'm unsure, @graeme-hill?

[2018-10-16 20:58] brandonb927 commented on #139
@dlsteuer what support will be needed for this in engine?

[2018-10-16 20:59] brandonb927 commented on #154
I can look into this

[2018-10-16 21:11] brandonb927 commented on #154
Fixed over here https://github.com/battlesnakeio/starter-snake-node/pull/15

[2018-10-16 21:27] dlsteuer commented on #139
Also there is no concept of turn delay in the engine, the engine does each frame as fast as the snakes in the game respond. Turn delay is purely a ui concept.

[2018-10-16 21:30] brandonb927 commented on #139
Ok so is this something that you think should be purely a data attribute passed from play => board?

[2018-10-17 18:50] graeme-hill commented on #138
yes

[2018-10-18 00:01] codeallthethingz opened #157 "Show the last N games on the leaderboard so they can be viewed."

[2018-10-18 02:59] #156 closed

[2018-10-18 02:59] codeallthethingz commented on #155
Not closing this as we still need to do basic windows install

[2018-10-18 02:59] #153 closed

[2018-10-18 02:59] #154 closed

[2018-10-18 03:00] #144 closed

[2018-10-20 18:03] nbw commented on #143
Node one: https://github.com/battlesnakeio/starter-snake-node/pull/16

Golang one is on the way.

[2018-10-23 02:17] mnursey commented on #135
I can also confirm this is an issue. It says [here](https://github.com/battlesnakeio/docs/blob/master/docs/convert-2018-to-2019.md)

Unfortunately this is not happening.

[2018-10-24 00:17] dlsteuer commented on #134
pr merged and deployed

[2018-10-24 00:17] #134 closed

[2018-10-24 00:20] dlsteuer commented on #139
Yes that's correct.

[2018-10-24 01:34] nbw commented on #149
PR [https://github.com/battlesnakeio/starter-snake-ruby/pull/4](here)

[2018-10-24 01:44] nbw commented on #147
https://github.com/battlesnakeio/starter-snake-go/pull/7

[2018-10-24 04:56] brandonb927 commented on #127
@graeme-hill I think @dlsteuer said engine will have to support this, so so pre-req work in engine is required for board to function here.

[2018-10-24 05:07] dlsteuer commented on #127
Only if/when we support real time games. For now this is just game play back

[2018-11-06 22:28] dlsteuer opened #158 "Postgres Backend for Engine"
The redis backend while it works great, currently doesn't have any ttl to the data, and eventually it becomes unusable, another option is to use postgres for the backend.

[2018-11-06 22:49] graeme-hill opened #159 "Limit # of parallel games by user or team"
Right now I can use curl in a loop to make 1000 games in parallel. It actually works fine, but the games will take a really really long time to run.  In a tournament/production environment we don't want to allow one malicious user to stop all other games from running in a timely fashion.

There needs to be some limit that stops a specific user to team from running more than X concurrent games.

We

[2018-11-06 22:50] graeme-hill commented on #159
Example:

[code]

[2018-11-06 23:12] dlsteuer opened #160 "Engine API Key middleware"
For resource management we should add a middleware to the engine to handle api keys, this should only be enabled in production and we need to have some way to create/revoke api keys.

[2018-11-06 23:35] dlsteuer commented on #157
battlesnakeio/play#56 fixes this.

[2018-11-15 01:19] codeallthethingz commented on #158
@matthieudolci  tagging you on this for interest.

[2018-11-15 01:20] codeallthethingz commented on #160
#159 this relates to this ticket.

[2018-11-15 19:49] codeallthethingz opened #161 "Techdroplabs --> Battlesnake"
make sure all our copyright and licenses are updated to be Battlesnake Inc. in place of Techdrop Labs Inc.

[2018-11-17 18:03] codeallthethingz commented on #161
Completed for all the non-archived repos.

[2018-11-17 18:03] #161 closed

[2018-11-17 18:10] codeallthethingz commented on #157
@dlsteuer I don't think this has been deployed yet?

[2018-11-17 18:15] #147 closed

[2018-11-17 21:56] #146 closed

[2018-11-18 01:11] #149 closed

[2018-11-18 22:45] #145 closed

[2018-11-18 23:18] dlsteuer commented on #157
No not deployed yet, but in master, so will go out with next deploy

[2018-11-20 00:03] codeallthethingz opened #162 "Add info in the zero to snake / starter snake readmes for best practices in committing to a forked repo"
AC
- Generally agreed that the verbiage added to the READMEs will reduce the number of people trying to merge back to our forks.

Implementation ideas
- how to do your first commit on github
- Github Learning Lab could help alot there https://lab.github.com/
- Links back to the above from a contribution guide enforcement that I think you can do inside git repos.

[2018-11-21 20:14] nbw commented on #143
I forgot to repost here, but https://github.com/nbw/starter-snake-go-serverless

[2018-11-21 20:25] nbw opened #163 "Make the timeout configurable"
The timeouts should be configurable ideally, for testing but also for the event.

Already a comment in the code:
https://github.com/battlesnakeio/engine/blob/462797dae800bea3a18e5e61ab18e0216e2ffef0/rules/create.go#L39

-Daniel

[2018-11-21 21:57] dlsteuer commented on #142
going to close this in favour of https://github.com/battlesnakeio/roadmap/issues/158

[2018-11-21 21:57] #142 closed

[2018-11-21 23:06] brandonb927 opened #164 "Winning snake quote visible at end of game"
Seeing as taunts are out this year, it would be cool if we had a taunt-like experience only visible from the winner of a game on the board. This value can be locked down at tournament start as well like we do with Snake URLs and Team Names. This would give some teams room for self-expression, while also allowing the admins to moderate the content before the tournament starts.

[2018-11-21 23:07] brandonb927 opened #165 "Board should display winning snake at the top of the list"
To make it easier to see which snake won a game, the winning snake should appear at the top of the list in the sidebar.

AC
- sort by alive first alphabetically.
- dead snakes in the order that they died (descending turn death).

credit to @stozula

[2018-11-21 23:10] brandonb927 opened #166 "Tournament replay-ability"
When the final work for Tournaments is done, it should include the ability to deterministically replay heats and games.

credit to @stozula

[2018-11-23 21:35] joram opened #167 "opt-in ability to each tournament"
As someone who attends the event, I would like to see a drop down of active tournaments, and add one of my snakes to one of the categories (I.e. 2019-junior, 2019-intermediate, or 2019-advanced)

[2018-11-23 21:38] joram commented on #150
models done. UI remains

[2018-11-23 21:42] joram opened #168 "ability to tweak number of initial heats on a tournament"
Previously we have had tournaments which, by default would end with 4 snakes in the final game.
Human eyes should always make the final decision of how many initial heats there are, so we can avoid a game turning in to "who of these 4 is not going to be in the top 3".

This would need to be done once all the snakes in the tournament have opted in, so you know the final count.

[2018-11-24 16:18] codeallthethingz opened #169 "ValidateSnake endpoint sees 404 as success"
![image](https://user-images.githubusercontent.com/1261268/48970479-8a21d600-efc1-11e8-942a-bb612748d220.png)
Should see that as an error

[2018-11-24 16:59] codeallthethingz commented on #169
I didn't think comments in commits in a fork affected the referenced repository until it was merged into the upstream ?

[2018-11-24 17:16] #41 closed

[2018-11-24 17:43] codeallthethingz commented on #167
This is great.

I think it should just be a drop down of `junior` `intermediate` `advanced`  as we can have a hidden element for the tournament.

Eventually we can expose that as we figure out how other people create tournaments.
The one we host in Victoria should be "World Finals 2019"

[2018-11-29 00:41] #97 closed

[2018-11-29 00:43] codeallthethingz commented on #166
@brandonb927 what is deterministically in this context?

[2018-11-29 00:53] brandonb927 commented on #166
I would define it as "replays the game exactly how it played out the first time"

[2018-11-29 01:03] #169 closed

[2018-11-29 01:37] codeallthethingz opened #170 "Watchdog tests for play.battlesnake.io"
Test Login
Test Creating a game

Failed tests get piped into #fires in battlesnake slack

Implementation idea
Cypress!

[2018-11-29 01:38] brandonb927 commented on #170
I'll get a PR open for this in the coming days.

[2018-11-29 01:47] #158 closed

[2018-11-29 17:34] dlsteuer commented on #157
Now deployed

[2018-11-29 17:34] #157 closed

[2018-11-29 17:58] brandonb927 opened #171 "Validate snake functionality giving false positives"
It appears that if you have a trailing slash in your snake URL (as one would have when copying from a browser, `https://example.com/`) and pasting it into the URL field in Play, the validateSnake functionality will provide a false positive warning you that there are issues with your snake on multiple endpoints. This seems to be with how the validateSnake endpoint is handling URLs here (https://git

[2018-11-29 22:39] codeallthethingz opened #172 "Sanitize URLs in ValidateSnake"
From slack:

there is code to deal with it

https://github.com/battlesnakeio/engine/blob/master/rules/http.go#L70
rules/http.go:70
```func getURL(url, path string) string {```
battlesnakeio/engineAdded by GitHub

if you call that with the url and the path you want it makes sure you are fine regardless of trailing slash

[2018-11-29 22:40] codeallthethingz commented on #171
From daniels comments:

there is code to deal with it

https://github.com/battlesnakeio/engine/blob/master/rules/http.go#L70
rules/http.go:70
func getURL(url, path string) string {
battlesnakeio/engineAdded by GitHub

[2018-11-29 22:40] dlsteuer commented on #172
This is a dup of #171

[2018-11-29 22:41] #172 closed

[2018-11-30 00:10] joram opened #173 "Invite-Only Tournaments"
For those showcase tournaments with bounty snakes. We don't want others to be able to opt in.

[2018-11-30 00:11] joram opened #174 "Add/Remove Snakes from tournament admin UI"
so we can control invite only tournaments, and kick out duplicates or inappropriate snakes from public tournaments

[2018-12-03 19:59] codeallthethingz opened #175 "Interactive documentation with SnakeFest"
As a view of the documentation
I can interact with live snake code
Such that I can learn snake coding basics without the requirements of a full dev environment.

AC
- Snake fest can take be configured with snake starting position

[2018-12-05 06:42] brandonb927 commented on #138
I have an update here that addresses the issues in this issue :) https://github.com/battlesnakeio/board/pull/10

[2018-12-06 01:13] brandonb927 commented on #12
This has been set for March 2nd, 2019 🎉

This issue can be closed.

[2018-12-06 01:13] #12 closed

[2018-12-06 01:14] #130 closed

[2018-12-06 01:14] brandonb927 commented on #151
@matthieudolci has this been done?

[2018-12-06 01:48] matthieudolci commented on #151
@brandonb927 yes all done :-)

[2018-12-06 01:49] #151 closed

[2018-12-07 05:07] #138 closed

[2018-12-10 17:42] brandonb927 commented on #127
This was worked on in https://github.com/battlesnakeio/board/pull/11 and this issue can now be closed! 🎉

[2018-12-10 17:42] #127 closed

[2018-12-10 17:43] brandonb927 opened #176 "New games and the step fwd/back buttons"
There's an issue that came out of https://github.com/battlesnakeio/board/pull/11 where if you try to play/pause/step fwd/back before the game has completed, it will stall on the very last frame causing you to refresh the page to continue.

[2018-12-11 06:56] brandonb927 commented on #176
This was addressed in https://github.com/battlesnakeio/board/pull/12

[2018-12-11 06:56] #176 closed

[2018-12-11 18:21] brandonb927 commented on #170
The first step here is encompassed [here](https://github.com/battlesnakeio/play/pull/69). I think a second test spec should test the live play site which I will take on in another PR

[2018-12-11 21:16] codeallthethingz opened #177 "Initial starting heads on board are all black"
Repro
1. Start a new game
2. Don't press play yet

Expected
Snake heads are the correct colour

Actual
Snake heads are all black

[2018-12-11 21:18] brandonb927 commented on #177
I think this is actually an Engine issue... turn 0 (the frame displayed initially) there are no snake colours yet determined and it isn't until frame 1 that we receive them from the snakes?

[2018-12-11 21:59] codeallthethingz opened #178 "Snake highlighting for commentators"
As a commentator
I can highlight a snake(s)
Such that I can visually talk about a highlighted snake as the game runs.
Snakes that are similar colours can be disambiguated during the game

Implementation idea
In board be able to click on a snake and have that snake be highlighted with a unique high contrast colour that is also reflected on the moving snake.
Clicking the snake a second time deselect

[2018-12-12 00:11] brandonb927 commented on #171
This was fixed and can now be closed

[2018-12-12 00:11] #171 closed

[2018-12-12 00:13] brandonb927 commented on #166
I think this is now covered by the Tournament UI being added by @joram and the new step fwd/back buttons, I will confirm.

[2018-12-13 01:02] codeallthethingz opened #179 "autoplay=true parameter on board URLs"
Sometimes you want to have a game start automatically rather than wait for the play button to be pressed.

AC:
- adding `autoplay=true` to the querystring of a game URL will force it to autoplay instead of requiring you to click the play button

[2018-12-13 01:13] codeallthethingz commented on #178
@stozula what do you think?

[2018-12-13 01:16] codeallthethingz commented on #178
Graeme some kinda identifier could be used.

[2018-12-13 01:18] codeallthethingz commented on #164
badwords.txt should be included so we can automate the worst of it.

[2018-12-13 01:27] joram opened #180 "all models have created/modified fields (so we can nuke everything older than X)"

[2018-12-13 01:35] codeallthethingz opened #181 "Tournament UI Polish"

[2018-12-13 01:37] codeallthethingz opened #182 "Mock tournament"

[2018-12-13 01:42] joram opened #183 "Optionally validate (or not) single snake per team per tournament"
When creating or editing a tournament, there should be a boolean toggle to allow/disallow multiple snakes per team to opt in to the tournament.

[2018-12-13 03:03] codeallthethingz opened #184 "Terms and Conditions while signing up / in"
Logging in to play should come with some kinda terms and conditions

[2018-12-17 03:40] brandonb927 commented on #184
@codeallthethingz can you outline the requirements and the intended flow, I could get this included this week.

[2018-12-17 03:40] brandonb927 commented on #182
Needs more description

[2018-12-17 03:42] brandonb927 commented on #179
How would one enable this? We could make a settings page and provide an option there for this, maybe enabling other options?

[2018-12-17 03:43] brandonb927 commented on #177
This was fixed in https://github.com/battlesnakeio/board/pull/12

[2018-12-17 03:43] #177 closed

[2018-12-17 03:46] brandonb927 commented on #135
@mnursey Can you confirm this issue has been addressed for you?

[2018-12-17 04:07] SynthesizedSoul opened #185 "Document Snake API in Markdown to allow hyperlinking"
The motivation for this issue comes from wanting to link directly to sections of the Snake API specification found [here](https://github.com/battlesnakeio/docs/blob/master/apis/snake/spec.yaml).

YAML files do not have this functionality; however, Markdown files do. And I'd like to request that the API be documented in Markdown as well as the YAML OpenAPI specification.

The benefit of this can be

[2018-12-17 06:49] brandonb927 commented on #155
I added a basic Windows tutorial here <https://github.com/battlesnakeio/docs/pull/12>

[2018-12-17 19:41] brandonb927 opened #186 "Starter snakes root path should return documentation url"
Similar to the work that @SynthesizedSoul put into <https://github.com/battlesnakeio/starter-snake-python/pull/39/files#diff-4dd44bb1c9eb58791d7b4a226d9e4ee4R9>, I think it would be a great use of the root URL path in each starter snake to return a link to the Battlesnake Docs page.

AC
- some kinda reference to docs.battlesnake.io for all the standard starter snakes that is returned from the root

[2018-12-17 19:45] brandonb927 commented on #28
Does @ColDog Snakefest accomplish this?

[2018-12-17 19:47] brandonb927 commented on #111
We now have the ping endpoint in all snakes and implemented functionality in the engine, correct?

[2018-12-17 19:47] brandonb927 commented on #102
Just pinging for an update here, any resolution?

[2018-12-17 19:48] brandonb927 commented on #52
We should probably start on this sooner than later now that we're close to the tournament.

[2018-12-17 19:57] dlsteuer commented on #28
I don't think snakefest captures the idea behind a human controlled snake.

[2018-12-17 20:00] dlsteuer commented on #111
what do you mean by in the engine? The engine only validates the ping endpoint but doesn't call it ever.

[2018-12-17 20:01] dlsteuer commented on #102
Going to close this, these changes aren't going to be made right now in the engine.

[2018-12-17 20:01] #102 closed

[2018-12-17 20:03] brandonb927 commented on #111
Gotcha, that's the part I wasn't sure on. So, ideally Play handles this I think?

[2018-12-18 04:00] ColDog commented on #28
No! Snakefest is coded.

On Mon, Dec 17, 2018 at 11:57 AM Daniel Steuernol <notifications@github.com>
wrote:

[2018-12-18 17:38] brandonb927 commented on #28
I misunderstood the AC then, my apologies.

[2018-12-19 00:42] codeallthethingz commented on #166
@brandonb927 @joram is this confirmed?

[2018-12-19 00:43] codeallthethingz commented on #152
Moving to icebox for 2020 event.

[2018-12-19 00:47] codeallthethingz commented on #118
@matthieudolci Can you have a look at this as part of your deployment work?

[2018-12-19 00:52] codeallthethingz commented on #186
I don't think the snakes should have code that's not related to the snake in them.
I do think it would be beneficial to have the READMEs point at the docs though?

[2018-12-19 01:06] brandonb927 commented on #166
I think so with the current Tournament UI and linking to games that've been played from rounds.

[2018-12-19 01:07] #166 closed

[2018-12-19 01:14] codeallthethingz opened #187 "Generate docs from swagger file updates"
AC
- updates some page at battlesnake.io/docs <--> docs.battlesnake.io

Implementation
github actions should be investigated.

[2018-12-19 01:16] codeallthethingz opened #188 "Set the docs site up properly"
Currently an empty page index.md in the docs repo.

AC
- CName docs.battlesnake.io
- create links to zero to snake
- other useful stuff as you have time.

[2018-12-19 01:50] codeallthethingz opened #189 "Bug: Board displaying 99 health not 100 on turn zero"

[2018-12-19 01:53] brandonb927 commented on #155
Closed in https://github.com/battlesnakeio/docs/pull/12

[2018-12-19 01:53] #155 closed

[2018-12-19 02:11] brandonb927 commented on #189
Closed in https://github.com/battlesnakeio/board/pull/13

[2018-12-19 02:11] #189 closed

[2018-12-19 02:14] brandonb927 commented on #186
Update: the consensus is that we want the root URL paths in all starter snakes to point to the docs somehow.

I think it should just return text saying "Get started by reading the docs: https://battlesnake.io/docs"

[2018-12-19 02:40] brandonb927 commented on #186
I have no idea how to do this in the [Java client](https://github.com/battlesnakeio/starter-snake-java/blob/master/src/main/java/io/battlesnake/starter/Snake.java), @codeallthethingz :)

[2018-12-19 23:00] brandonb927 commented on #178
This should satisfy the AC here https://github.com/battlesnakeio/board/pull/14

[2018-12-19 23:09] #178 closed

[2018-12-19 23:12] codeallthethingz commented on #178
<sub>[View in Slack](https://battlesnake.slack.com/archives/C481H117Z/p1545260277108900)</sub>

[2018-12-19 23:14] codeallthethingz commented on #178
<sub>[View in Slack](https://battlesnake.slack.com/archives/C481H117Z/p1545261217117700)</sub>

[2018-12-21 05:03] codeallthethingz commented on #188
Completed.

[2018-12-21 05:03] #188 closed

[2018-12-21 05:03] codeallthethingz commented on #187
Turns out for openapi you can just use redoc and it all works perfectly.  👍

[2018-12-21 05:03] #187 closed

[2018-12-21 06:17] codeallthethingz commented on #186
@brandonb927 it's now in code review.

[2018-12-21 20:43] codeallthethingz opened #190 "Clearing form in new game form does not clear the snakes"
Steps
- run a game with 8 snakes.
- create a new game with 2 snakes.

Actual
- game still runs with 8 snakes.

Expected
- 2 snakes.

[2018-12-21 20:45] codeallthethingz opened #191 "8 snakes pushes play pause buttons off the screen"
Steps
- Run a game with 8 snakes

Actual
- Can't get to start buttons.

Expected
- Can get to the start buttons.

Notes
Seems like the snake statuses on the right hand size don't resize properly.

[2018-12-21 20:52] brandonb927 commented on #190
I've seen this happen a few times and it has always bugged me. I'll fix this when I fix https://github.com/battlesnakeio/roadmap/issues/191

[2018-12-21 21:34] dlsteuer commented on #143
Thanks @nbw

[2018-12-21 21:34] #143 closed

[2018-12-21 21:40] dlsteuer commented on #174
Also think about adding multiple snakes at the same time.

[2018-12-21 22:05] tristan-swu commented on #174
I'll look at this!

[2018-12-21 22:05] joram opened #192 "Snakes can be moved from Users to Teams (one way for now)"

[2018-12-21 22:05] joram opened #193 "Teams can own Snakes (multiple)"

[2018-12-21 22:05] joram opened #194 "Move Team to Team App"

[2018-12-21 22:33] brandonb927 commented on #190
Fixed by https://github.com/battlesnakeio/play/pull/75

[2018-12-21 22:33] brandonb927 commented on #191
Fixed by https://github.com/battlesnakeio/board/pull/15

[2018-12-21 23:43] #190 closed

[2018-12-22 00:06] #191 closed

[2019-01-01 03:03] brandonb927 commented on #186
https://github.com/battlesnakeio/starter-snake-java/pull/5 was merged, this can now be closed! 🎉

[2019-01-01 03:03] #186 closed

[2019-01-10 04:24] codeallthethingz opened #195 "Game doesn't stop on last snake death."
https://play.battlesnake.io/games/236003a0-a591-4329-b054-04df122118c3/

[2019-01-11 18:19] aforsilly opened #196 "Sendwithus Bounty Snake"
We need to build one!

[2019-01-11 18:20] joram commented on #196
are you sure you want to discuss our bountysnake publicly?! what about all our super snake secrets?

[2019-01-11 18:31] CDFriend commented on #196
![mr_burns_evil](https://user-images.githubusercontent.com/8661121/51052557-ddf57800-158b-11e9-908d-b4ce205e58ab.gif)

[2019-01-11 18:39] brandonb927 commented on #196
Can we call it the  `D-hisssssss-patch` snake?

[2019-01-11 19:47] joram commented on #196
I suggest we leave a back door where if you taunt in some call-and-response manner, our snake just circles in on itself.

[2019-01-14 19:22] brandonb927 opened #197 "battlesnake.io/docs should point to docs.battlesnake.io"
Currently, https://battlesnake.io/docs points to the old location of https://github.com/sendwithus/battlesnake, but seeing as we have a real docs site now if should point to http://docs.battlesnake.io.

[2019-01-14 19:25] brandonb927 opened #198 "Rounded snake corners"
I just noticed in some of our slides from previous tutorial content, the snakes in the slides had curved bodies in the corners. I think we should do this again!

![image](https://user-images.githubusercontent.com/1509352/51135561-30829e80-17ef-11e9-8372-f143b737569f.png)

[2019-01-16 01:16] codeallthethingz commented on #168
@joram / @tristan-swu

[2019-01-16 01:17] codeallthethingz commented on #167
@joram / @tristan-swu

[2019-01-16 01:20] codeallthethingz commented on #198
@nbw

[2019-01-16 01:21] codeallthethingz commented on #150
@joram  / @tristan-swu

[2019-01-16 01:22] codeallthethingz commented on #129
We did this.
@joram make the base!

Implementation ideas
- Buy ugly trophy and stick the LED screen to it.
- Kindle holder / digital frame holder

[2019-01-16 01:30] codeallthethingz opened #199 "Host internal tournament to check everything works as expected."
Implementation idea
- Friday after code complete.
- With twitch

[2019-01-16 01:37] codeallthethingz opened #200 "Tournament Player"
AC
- A single URL for twitch to play each consecutive game for a named tournament.
- Brandon is happy and stress free during the competition presentation.
- The MCs don't have to turn to see the display

Implementation idea
- Tournament endpoint to get the id of the current game.
- Have an iframe that polls the tournament endpoint for a new game ID and if it changes reload the sub iframe.

[2019-01-16 01:41] codeallthethingz opened #201 "Stress test play / engine with SQL backend."
Implementation idea:
- create 10,000 games.
- check that all games finished.
- tabulate game times.
- Keep an eye on prometheus dashboard.

[2019-01-16 01:46] codeallthethingz opened #202 "Download Tournament structure"
If everything goes wrong we would like to be able to have an export from the current tournament.,
so that we can run a tournament without tournament mode.

[2019-01-16 01:47] codeallthethingz commented on #202
@joram / @tristan-swu

[2019-01-16 01:49] codeallthethingz opened #203 "Figure out why the CPU is maxed for Postgres."

[2019-01-16 01:51] codeallthethingz opened #204 "Use a different engine for the tournament."
It would be nice to have a different engine for the tournament to protect us from bad actors in this part of the product.

Implementation ideas
- At the tournment level have an overide field for Engine URL, by default uses the standard engine.

[2019-01-16 05:40] ColDog commented on #203
[code]

[2019-01-16 05:45] ColDog commented on #203
Operations run:
[code]

[2019-01-16 17:33] codeallthethingz opened #205 "Snakes receiving multiple move requests for the same game"
Possible Repro Steps (though this might be distributed race condition so good luck reproducing this)
Create a snake
Run a game

Expected
a unique move request from the engine to the snake per move.

Actual
the same request comes in more than once within milliseconds.
Usually 2, sometimes streaks of 3.

[2019-01-16 17:34] codeallthethingz commented on #205
<sub>[View in Slack](https://battlesnake.slack.com/archives/C481H117Z/p1547659380023400)</sub>

[2019-01-16 17:46] codeallthethingz commented on #205
Probably related: https://github.com/battlesnakeio/roadmap/issues/195

[2019-01-16 18:21] dlsteuer commented on #205
<img width="1373" alt="screen shot 2019-01-16 at 10 13 22 am" src="https://user-images.githubusercontent.com/326884/51269880-6ef79500-1978-11e9-88d0-13e2da045d8b.png">
This should help shed some light on the issue. It looks like when a game is changed from one worker to another, the last frame of the previous worker is run again on the new worker.

[2019-01-16 19:07] aforsilly commented on #111
@codeallthethingz can you clarify what info needs to be passed on? Should this be included in the welcome @brandonb927?

[2019-01-16 19:22] ColDog commented on #205
What we think is happening:

During AddGameFrame, we try and lock the game again, but if the expiry is done, the frame won’t be written and a new worker now picks it up. Since the token expiry is set to 1 second, if the execution for that frame takes longer than 1 second the lock will expire and more workers will pick up the frame.

So effectively, the workers are flapping back and forth between p

[2019-01-16 19:31] joram opened #206 "Configurable max snakes per heat"
AC:
- can define max number of snakes per heat in a round.

[2019-01-16 19:32] joram opened #207 "Avoid 4 snakes in the final round"
AC:
- can define max number of snakes per heat in a round.

[2019-01-16 19:35] joram opened #208 "Completed tournament's can return the top 3 snakes"
AC:
- if a tournament is complete, to top snakes are returned in winning order [winner, second place, third, ...]
- if a tournament is incomplete, nothing is returned.
- this information is shown nicely somewhere in the UI of the tournament

[2019-01-16 19:36] #193 closed

[2019-01-16 19:45] brandonb927 commented on #111
I think the main point we wanted was to ensure that day-of, during registration, the attendees are informed that we may disqualify a teams snake if it does not respond correctly and in the appropriate time window during the tournament, and that extra care should be taken before the tournament to ensure this happens by team members. Something like that

[2019-01-16 19:49] brandonb927 commented on #197
@codeallthethingz who has access to this so they can change it? is it just a redirect on the squarespace site?

[2019-01-16 21:12] brandonb927 opened #209 "Engine dev mode peaks at 200% CPU utilization with 8 remote snakes"
![image](https://user-images.githubusercontent.com/1509352/51278807-6a3edb00-1990-11e9-99e0-7e0fd8b59dfd.png)

[2019-01-16 21:42] brandonb927 commented on #209
Update: This also occurs with only 2 snakes in the game as well

[2019-01-17 01:45] brandonb927 opened #210 "Never use database IDs in routes"
Motivation: We shouldn't use auto-incrementing database IDs in routes or URLs. The reasons being that it exposes business information through URLs.

AC
- A PR should be opened that rids the app of using auto-incrementing IDs in URLs and routes.

[2019-01-18 16:00] tristan-swu commented on #210
Why not?

[2019-01-18 16:17] tristan-swu opened #211 "Leaderboard migrations fail on Postgres"
When running the database migrations on Postgres, the leaderboard migrations fail with:
[code]

To reproduce:
 - Start up a *clean* database in postgres (no migrations, no data)
 - Modify your config to use it as a database (example below)
 - Run migrations on an empty database

Example config:
[code]

Running these migrations using the default (SQLlite) database do not fail. The root cause of thi

[2019-01-18 16:19] brandonb927 commented on #211
I think squashing the current migrations would help alleviate and fix this. Are you running on a clean or older dataset in pg?

[2019-01-18 16:20] tristan-swu commented on #211
I'm running on a totally clean dataset.
Let me update the repro steps to include that.

[2019-01-18 16:21] brandonb927 commented on #211
Also pinging @joram here on this

[2019-01-18 16:53] brandonb927 commented on #211
@dlsteuer this commit is causing the issue https://github.com/battlesnakeio/play/pull/77/files#diff-94f3814a6f46b97171c600d67f069539

Any reason why Django added an `id` AutoField here?

[2019-01-18 17:21] tristan-swu commented on #210
I'm not sure if I buy the security risk argument - if you can fuzz an api /w integers as keys, you can do it was identifiers like `snk_CJHqP4pYg3GT9KyG7RPFqaF3` as well. Can you give an example of how you want to change id behaviour in routes?

The engine uses a string primary key and generated id's like `snk_CJHqP4pYg3GT9KyG7RPFqaF3` using a uuid function. But at the end of the day - `snk_CJHqP4p

[2019-01-18 17:46] codeallthethingz opened #212 "Length mismatch between you.body and board.snakes[0].body"
You is one segment longer.

[code]

[2019-01-18 17:47] codeallthethingz commented on #212
<sub>[View in Slack](https://battlesnake.slack.com/archives/C0E9EM0NM/p1547828139077100)</sub>

[2019-01-18 19:43] dlsteuer commented on #212
No issue found here.

[2019-01-18 19:43] #212 closed

[2019-01-19 18:32] ColDog commented on #203
All good:
<img width="891" alt="screen shot 2019-01-19 at 10 31 36 am" src="https://user-images.githubusercontent.com/10747761/51430837-72d42300-1bd5-11e9-86d1-81d03e097e11.png">

[2019-01-19 18:32] #203 closed

[2019-01-19 23:39] tristan-swu commented on #207
Do we want to configure this at the tournament level? So each heat has the same number of games for each round in the tournament?

[2019-01-20 00:52] #211 closed

[2019-01-23 23:00] tristan-swu commented on #202
Johns says he's done
He didn't show me anything, and against my better judgement I'm going to believe him :)

[2019-01-24 01:19] codeallthethingz opened #213 "Have a look at SageMaker integration"

[2019-01-24 01:31] joram commented on #213
this will be handled by @ColDog and myself... and @dlsteuer tertiarily.

[2019-01-24 01:37] joram commented on #200
I have built the precursor to this, but it doesn't auto-refresh, there needs to be some loop of js to auto-refresh the iframe. It also should look pretty

[2019-01-24 01:41] codeallthethingz opened #214 "Export prometheus metrics to Grafana"

[2019-01-24 01:42] codeallthethingz commented on #205
Fixed with longer lock for engine.

[2019-01-24 01:42] #205 closed

[2019-01-24 01:43] codeallthethingz commented on #204
We're ok with the same cluster.

[2019-01-24 01:46] codeallthethingz commented on #207
yes.

[2019-01-24 01:47] codeallthethingz commented on #206
Should be done at the same time as #207

[2019-01-24 01:49] codeallthethingz commented on #201
Gonna do another torch it tuesday for this.

[2019-01-24 01:49] codeallthethingz commented on #198
Hey Nathan, how far did you get with this?

[2019-01-24 01:54] #121 closed

[2019-01-24 01:55] codeallthethingz commented on #111
Daniel: write a django job, can add to the existing or write a new cron schedule.

[2019-01-24 02:02] codeallthethingz opened #215 "Keep snakes alive once they're added to a tournament bracket - run it in k8s"
Depends on #111

[2019-01-24 02:05] codeallthethingz commented on #209
Danlel: doesn't happen for local snakes, only remote snakes.

[2019-01-24 02:06] codeallthethingz commented on #184
Will to get text.

[2019-01-24 02:07] codeallthethingz commented on #184
Lets add code of conduct too.

[2019-01-24 02:09] #185 closed

[2019-01-24 02:11] codeallthethingz commented on #202
Please link the PR before this is closed.

[2019-01-24 02:20] joram commented on #202
https://github.com/battlesnakeio/play/commit/f598dbadb2312bf9745b240f22d5a5a6a7a825ba
it was already committed, just hasn't been deployed

[2019-01-24 02:53] codeallthethingz commented on #199
Scheduled for 29th

[2019-01-24 02:53] #199 closed

[2019-01-24 02:55] codeallthethingz commented on #197
Done.

[2019-01-24 02:55] #197 closed

[2019-01-24 02:57] codeallthethingz commented on #184
COC - https://github.com/battlesnakeio/community#code-of-conduct

[2019-01-24 02:57] codeallthethingz commented on #184
Added a task to our internal asana to create the TOCs

[2019-01-24 02:58] codeallthethingz commented on #184
Reassigned to Brandon as this is just waiting for a link from ops now.

[2019-01-24 02:59] codeallthethingz commented on #201
This is now scheduled, so going to say this is complete.  More tasks will come out of the torch it session.

[2019-01-24 02:59] #201 closed

[2019-01-24 03:28] codeallthethingz opened #216 "Food spawn rules"

[2019-01-24 03:59] joram commented on #202
verified on prod

[2019-01-24 03:59] #202 closed

[2019-01-24 04:05] joram commented on #168
closing because duplicate

[2019-01-24 04:05] #168 closed

[2019-01-24 06:34] brandonb927 commented on #198
@nbw

[2019-01-24 06:35] brandonb927 commented on #197
thanks @codeallthethingz

[2019-01-24 17:21] tristan-swu opened #217 "Disable sqllite as a default in battlesnakeio/play"
Using SQL lite has caused some issues when rolling migrations onto postgres (see https://github.com/battlesnakeio/play/pull/84).

I understand Sqlite is nice and easy, but I don't see a strong enough reason _not_ to use postgres to develop on. Its easy to install / get going. Options include:
 - locally install
 - vagrant
 - docker

This proposal is to drop sqllite as a target for development on p

[2019-01-24 17:23] tristan-swu opened #218 "Add codeformatting (ie: black) to battlesnakeio/play"
An easy win for code consistency is to use a code formatter on battlesnakeio/play.

We can debate if it runs as part of the CI check, but at the end of the day, having a 1 line command to auto-format the codebase would be helpful.

Black (https://github.com/ambv/black) can do this for us automatically.

[2019-01-24 17:41] brandonb927 opened #219 "Update the /ping endpoint in the docs to require a 200 OK response"
Currently the ping endpoint in the Docs states that the response is ignored, however this is counterintuitive to how we want to use the ping endpoint moving forward. @joram and I agree that Play should require a 200 OK response instead of ignoring the response.

[2019-01-24 17:46] codeallthethingz commented on #219
I think this is one of those tickets where creating a PR is faster than creating a ticket?

[2019-01-24 18:17] brandonb927 commented on #219
I just wanted it tracked so someone can start the work, but yeah you're probably right here.

[2019-01-24 18:55] #219 closed

[2019-01-24 23:15] dlsteuer opened #220 "Set specific snake spawn locations for tournament board sizes"
See http://docs.battlesnake.io/2019-tournament-game-rules.html for details, engine needs to follow this.

[2019-01-24 23:17] codeallthethingz opened #221 "Set spawn locations for tournament board sizes"
Current sizes are

7x7, 11x11, 19x19

Starting position for 7x7 illustrated in the docs the other sizes of boards ensure starting 1 in from the edge on the same colour square in the same configuration.

http://docs.battlesnake.io/2019-tournament-game-rules.htm

[2019-01-24 23:19] #220 closed

[2019-01-24 23:21] codeallthethingz commented on #216
Current approach is to have random food.  Once confirmed this will go into the docs.

[2019-01-24 23:37] codeallthethingz commented on #213
I think this was concluded and no action at this time so closing this ticket.

[2019-01-24 23:37] #213 closed

[2019-01-24 23:37] codeallthethingz commented on #182
This is now schedule for the 29th January.

[2019-01-24 23:37] #182 closed

[2019-01-24 23:38] #181 closed

[2019-01-25 01:36] brandonb927 commented on #180
This has been accomplished, any new models should subclass `BaseModel`

[2019-01-25 01:36] #180 closed

[2019-01-25 02:19] codeallthethingz opened #222 "Advanced tournament division rules"

[2019-01-25 02:19] codeallthethingz commented on #222
https://github.com/battlesnakeio/docs/pull/18

[2019-01-25 03:10] dlsteuer commented on #221
fixed by battlesnakeio/engine#76

[2019-01-25 03:17] dlsteuer commented on #207
I don't think this should be configured at the tournament level this would require every bracket to have the same number of games per round but that won't work because there will be a much larger number of snakes in the beginners brackets vs the advanced.

[2019-01-25 03:22] brandonb927 commented on #179
This just needs to be deployed but can be considered done! If you're on a game screen, just add `?autoplay=true` to the URL and the game will start automatically once it receives the first frame.

[2019-01-25 03:22] #179 closed

[2019-01-25 18:34] joram opened #223 "game settings configurable at the bracket level"
tournament/models/tournaments.py:314 we create the tournament games. The variables shouldn't be hardcoded, they should be configured at the tournament bracket level

[2019-01-25 19:10] brandonb927 commented on #223
@joram this is one of those instances where a PR is probably better than opening an issue :)

[2019-01-25 22:16] joram commented on #223
yeah, but it involves a migration, so I wanted a note for later.

[2019-01-25 23:31] #221 closed

[2019-01-26 03:31] #216 closed

[2019-01-28 05:47] #218 closed

[2019-01-28 05:47] dlsteuer commented on #218
Added black/flake8 checks as a pre-commit hook in git.

[2019-01-28 13:54] ColDog commented on #214
![screenshot_2019-01-24_19-53-10](https://user-images.githubusercontent.com/10747761/51840505-1d78cf80-22c1-11e9-804b-d6f3ce57df56.png)

[2019-01-28 13:54] #214 closed

[2019-01-28 22:27] Kjarrigan opened #224 "Collision with dying body (Bug?)"
I had a game where two snakes are facing each other. `A` collides with himself and thus is dead. In the same turn `B` goes to the tile where `A`s body would have been if he wouldn't have died. `B` died as well.

Is this intended?

This is turn 16:
![Turn 16](https://www.kjarrigan.de/source.png)
This is turn 17:
![Turn 17](https://www.kjarrigan.de/result.png)

of this game: https://play.battlesnake

[2019-01-28 22:36] Kjarrigan commented on #224
Ok thanks for the fast feedback :+1:

[2019-01-28 22:36] #224 closed

[2019-01-29 00:46] joram commented on #173
this was complete by the status, just need to set it to `hidden`

[2019-01-29 00:46] #173 closed

[2019-01-29 00:47] joram commented on #207
after much discussion, we'll do this by not allowing the second to last round to have 2 games (if possible), bumping to 3) so that we have 6 in the finals, not 4)

[2019-01-30 01:18] codeallthethingz commented on #196
@graeme-hill is this in progress?

[2019-01-30 01:18] codeallthethingz commented on #184
Moving to asana.

[2019-01-30 01:19] #184 closed

[2019-01-30 01:19] codeallthethingz commented on #167
Completed.

[2019-01-30 01:19] #167 closed

[2019-01-30 01:37] codeallthethingz opened #226 "Daniel do stuff"

[2019-01-30 18:04] codeallthethingz commented on #129
@LouisRitchie we definitely want to get to that point.  Probably won't be this year - this year you get an LED display with your winning battle on it.

also, moving this to an internal to SWU task, you'll find out how it worked out when you come to battlesnake 2019! ⚔️🐍

[2019-01-30 18:04] #129 closed

[2019-02-01 17:28] joram opened #227 "tournament current game view should work with pre-running games"
Currently there is a `/tournament/<id>/current/game` url that shows the first game that is currently running.
We intend to prerun games for the tournament, which will break how that view works.

If we keep a flag on the `TournamentBracketGame` model, and only have one actively watched game in a tournament, it can be human controlled, and allow us to pace the viewing.

[2019-02-01 17:31] joram commented on #150
this ac is all in there.

[2019-02-01 17:31] #150 closed

[2019-02-01 17:36] joram commented on #111
https://github.com/joram/play/tree/keepalive-snakes-in-active-tournaments

[2019-02-02 20:04] codeallthethingz commented on #227
Moved to play repo issues for tournament.

[2019-02-02 20:04] #227 closed

[2019-02-02 20:08] codeallthethingz commented on #223
Moved to play repo

[2019-02-02 20:08] #223 closed

[2019-02-02 20:08] #208 closed

[2019-02-02 20:09] codeallthethingz commented on #207
Moved to play repo

[2019-02-02 20:09] #207 closed

[2019-02-02 20:11] codeallthethingz commented on #206
Moved to play repo

[2019-02-02 20:11] #206 closed

[2019-02-02 20:11] codeallthethingz commented on #204
moved to play repo

[2019-02-02 20:11] #204 closed

[2019-02-02 20:12] codeallthethingz commented on #200
Moved to play repo

[2019-02-02 20:12] #200 closed

[2019-02-02 20:13] codeallthethingz commented on #111
Moved to play repo

[2019-02-02 20:13] #111 closed

[2019-02-04 22:01] codeallthethingz opened #228 "Snakes to start on same "colour" square"
Currently, snakes can spawn on random tiles.
This feature request is to have all snakes spawn on the same colour square if you think of colour as the colours on a chessboard.

[2019-02-05 01:00] codeallthethingz commented on #228
Having a go tonight, if I don't get through it, I'll relinquish.

[2019-02-05 04:13] codeallthethingz commented on #228
https://github.com/battlesnakeio/engine/pull/79

[2019-02-05 04:25] codeallthethingz opened #229 "Board configuration causes crashes in engine (in dev mode)"
The following crashes the engine in dev mode 50% of the time.  I think it probably happened before I introduced same starting colour snake positions but will check on master.  Confirmed. This happens on master too.

![image](https://user-images.githubusercontent.com/1261268/52253081-a3e17280-28ba-11e9-829a-1f23dd78fca9.png)

Stacktrace
[code]

[2019-02-05 05:49] dlsteuer commented on #229
Pretty sure this is because the board is so small, i think i have a fix for it.

[2019-02-05 20:41] joram opened #230 "take an arbitrary game title get parameter, and show it on the board"
this would be useful for the tournament view, so we can show a descriptive title i.e. `Battlesnake 2019 > Intermediate > Round 1 > Heat 3 > Game 1`

[2019-02-06 01:14] graeme-hill commented on #196
Nope

[2019-02-06 06:23] dlsteuer opened #231 "Configurable Turn Delay"
Currently the turn delay in board is hard coded, we'd like to be able to specify this as a query string parameter.

[2019-02-06 18:58] bvanvugt commented on #231
I'd really like to see this parameter expressed as 'fps' or 'max fps' -- I think that's most easily interpreted (and also self-restricting if we only allow ints)

[2019-02-07 01:19] #229 closed

[2019-02-07 01:24] codeallthethingz commented on #165
@graeme-hill  we're taking this away from you.

[2019-02-07 01:26] #215 closed

[2019-02-07 04:44] GriffinLedingham opened #233 "Snakes Losing Points On Win"
Snakes are periodically losing points following a win on play.battlesnake.io

This has been occurring for myself (OpieToo), as well as Arbok, and various other snakes. It seems to be mostly when highly ranked on the leaderboard, and when games run short/are against lower ELO opponents.

Examples of some games this occurred in:

https://play.battlesnake.io/games/2bef77fc-a52e-4ed5-a428-14ffd7279404

[2019-02-07 05:09] codeallthethingz commented on #233
@GriffinLedingham we have investigated this and we're a little stumped.
We'd be super happy if you could find where this issue is as we're currently swamped working on getting ready for the tournament.

[2019-02-07 05:11] codeallthethingz commented on #233
Actually, just realized we've taken play private so that's currently closed source.

[2019-02-07 06:14] GriffinLedingham commented on #233
@codeallthethingz I've just read a fair bit about the technicalities of TrueSkill, and I'm wondering if this is intended behaviour after all. If the change in sigma is greater than the change in mu after a game, I'm wondering if the deviation can cause an unpredictable "rating loss" as it's being referred to here.

I think that some of the trouble here comes from TrueSkill being more intended as a

[2019-02-07 07:20] bvanvugt commented on #233
@GriffinLedingham thanks for your research and work here. Overall we're not super happy with how TrueSkill is turning out, but it was a quick win to get something live. We have big plans, but unsure yet if we'll get around to it before this year's event.

From our perspective the current Leaderboard acts more as venue for training and testing your snake, and less about ranking or standing (albeit,

[2019-02-07 18:41] #165 closed

[2019-02-08 00:37] codeallthethingz opened #234 "Calling /start on ended games increases the turn count"
Steps
- create and run a game in engine
- call start on that game multiple times

Expected
turn count stays the same

acutal
turn count increases

[2019-02-08 03:44] cbinners commented on #233
I implemented trueskill on snakedown last year, and it is pretty paramount that games are not constructed from a random set of snakes. In order for the ranking system to function properly, the game must be constructed from a set of snakes that produce a "good" match, according to trueskill. In practice, this just means choosing snakes that have close rankings.

I'm not sure how the matchmaking is

[2019-02-08 03:47] dlsteuer commented on #233
Yeah this is gotta be it, the current system is pretty close to random for match-making, I'll see if I can fix this over the weekend.

[2019-02-12 02:29] exzizt opened #235 "Can we please have the ability to "toggle" a snake as active/inactive on the Play app in My Snakes?"
This way we can choose whether or not we want our snake to compete, but don't have to resort to deleting it. We can just toggle it on/off instead.

[2019-02-12 02:32] #235 closed

[2019-02-12 02:32] exzizt commented on #235
Nevermind! Already have the feature implemented I see. You must access it via the Leaderboard page, click the My Snakes link, and then there's a toggle switch there.

[2019-02-12 21:26] weslord opened #236 "docs.battlesnake.io navigation hidden at window widths below 992px"

[2019-02-12 21:28] brandonb927 commented on #236
@weslord thanks for reporting this! We'll get it fixed and rolled out today. I'll update here when that's been done too.

[2019-02-12 21:29] weslord opened #237 "Broken links in play.battlesnake.io top navbar"
'Events' points to https://events.battlesnake.io/ rather than https://www.battlesnake.io/events, and 'About' links point to 404s on play.battlesnake.io

[2019-02-12 21:44] codeallthethingz commented on #237
thanks for the bug report @weslord !

[2019-02-12 23:06] codeallthethingz opened #238 "Race Condition in RunLoopError"
Reproducibility: random.

Steps to reproduce
Run the the tests with `make test`

Expected
Test pass

Actual
Test fails with the following error

[code]

[2019-02-13 20:56] Herbert-P opened #239 "Add win/loss ratio as a stat"
Hi, I talked to Will on the event's Slack and he said it would be good to open an issue here so I'm doing that so you can see it. It would be great to have a win-loss ratio. :)

[2019-02-13 20:58] Herbert-P opened #240 "Ability to not run game ASAP and able to step through like last year"
I notice that the engine just runs the entire game. This makes it so we can't stop at a certain move you died on, make some changes to your AI, and then see if you make a better or same move again. Makes hard to tweak AI and continually improve it. Can there be an option to either run the game asap to completion or run it step by step and allow going back and forth?

[2019-02-13 21:04] codeallthethingz opened #241 "Exporter Microservice"
**MVP**
Export GIF animation
 - takes height OR width parameter as a constraint to adjust the output size (not both as games aren't always square)

Export Single Frame as JSON
 - takes a frame number as a parameter.

Considerations
what language gives us the best coverage for MVP / Future extensions?
Should this be a microservice or baked into engine?

Possible Future extensions
AVI
Themed Gifs ex

[2019-02-13 21:19] bvanvugt commented on #239
Also games played. I think this is a great idea.

[2019-02-13 23:21] LouisRitchie commented on #240
FWIW Herbert-P you could use last year's engine and just update your snake to accept that API as well as the new API.

[2019-02-13 23:24] Herbert-P commented on #240
Unfortunately, that won't work cuz last year and this year have different rules such as when you grow after eating food, spawn positions, food spawn rules, etc.

[2019-02-14 18:42] #237 closed

[2019-02-14 19:07] brandonb927 commented on #236
Hey I totally forgot to notify that this was fixed! Thanks for the report @weslord

[2019-02-14 19:11] brandonb927 commented on #231
This has been addressed! pass `frameRate=<fps>` where `fps` is a number

[2019-02-14 19:11] #231 closed

[2019-02-14 19:12] #217 closed

[2019-02-14 19:33] weslord commented on #236
@brandonb927 I've hard refreshed and tried a few different browsers and I still can't navigate the docs on small screen sizes.

[2019-02-14 20:49] brandonb927 commented on #236
Oof you're right. We fixed something else related to this and I assumed this was too. @codeallthethingz is there anything we can do here?

[2019-02-14 21:33] #210 closed

[2019-02-15 18:01] ntmk opened #242 "Force end of game button on GUI"
For example you come across a situation and you want to inspect your code but dont really want the engine sitting there spamming for next move. while the game is paused.

[2019-02-15 19:11] dlsteuer commented on #242
This would be in the engine dev mode.

[2019-02-15 20:04] dlsteuer opened #243 "Validate Snake Start Colour"
If you send a bad hex code on snake start, it causes issues when running playback on the game, we need to add validation on snake start call, that this is a valid colour.

[2019-02-16 07:10] dlsteuer opened #244 "Board Javascript error"
It's possible for board to just stop playing in long running games, see attached image for stack trace.
<img width="1002" alt="screen shot 2019-02-15 at 11 07 40 pm" src="https://user-images.githubusercontent.com/326884/52896017-d3279780-3176-11e9-96f4-e30095b495a0.png">

[2019-02-16 07:26] dlsteuer commented on #244
this was the game that caused the issue: https://play.battlesnake.io/g/40ce43c6-58f8-47fb-b472-5f7d45f7de94/?turn=2542 if you just play the game at board.battlesnake.io it seems to work fine.

[2019-02-16 09:56] SynthesizedSoul commented on #244
@brandonb927 I think this issue has been raised by this refactor: https://github.com/battlesnakeio/board/commit/24a3c7099c1cbc8292bb0555e16912ea3a55eb54

It appears this may also be affecting the ability to link directly to moves.

Any thoughts on why? It appears, after diagnosing, it may be that the error being thrown is closing the web socket earlier than expected meaning we're not receiving all

[2019-02-16 17:02] ntmk opened #245 "Snake updates before eating instead of next turn like prvious years"
In previous years the snake when eating would move one block then on the following turn the tail would update. example from image after eating the tail would be at (0,1) then if the head moved to (0,5) the tail would stay at (0,1)

![tail](https://user-images.githubusercontent.com/25558862/52902709-6f7a8a00-31c9-11e9-95e9-185013c5daaf.png)

[2019-02-16 18:42] bvanvugt commented on #245
We're going to adjust this to behave in the more traditional way, of having the snake tail grow on the following turn. I realize this is a pretty major mechanical change, that will impact any snake training that has happened to date.

The dev team though thinks the current behaviour produces a pretty awkward edge case that is a) difficult to detect and b) difficult to react to. @dlsteuer has an el

[2019-02-17 00:57] brandonb927 commented on #244
Thanks for the extra context @SynthesizedSoul, I'll take a look at fixing this tonight.

[2019-02-17 02:11] #244 closed

[2019-02-17 05:41] codeallthethingz opened #246 "Rework exporter httprouter to use julienschmidt/httprouter"
https://github.com/julienschmidt/httprouter

[2019-02-18 00:32] ntmk opened #247 "Api is down"
![screenshot 5](https://user-images.githubusercontent.com/25558862/52921966-9ae89c00-32d1-11e9-94a3-fc6ce211cbf0.png)

[2019-02-18 00:35] dlsteuer commented on #247
@ntmk thanks for the report, this is now fixed in https://github.com/battlesnakeio/docs/commit/236ad52ac52ab6409d42fb8bcbebf1aeea9436a4

[2019-02-18 00:35] #247 closed

[2019-02-19 23:11] AdamK-PXU opened #248 "Body SVG visible on tail after eating food"
The SVG for the the tail should still be visible after eating food, even though it's stacked both the tail and the body on the same position.

![screen shot 2019-02-19 at 3 13 04 pm](https://user-images.githubusercontent.com/17360962/53054325-e5485500-3458-11e9-9522-5bbbcd604b62.png)

[2019-02-20 00:16] codeallthethingz commented on #248
Exporter is also interested in the algorithmic fix for this as it's doing exactly the same thing.

[2019-02-20 00:29] codeallthethingz commented on #248
@nbw

[2019-02-20 02:39] #236 closed

[2019-02-20 04:29] codeallthethingz opened #249 "Secure snake access"
Snakes run on IP address and get messaged by the usual hordes of bad actors on the internet.
As a snake owner I would like to protect my snake against maliciousness.

Implementation ideas
Secret token set in play, that engine sends with snake requests.
IP whitelisting.

[2019-02-20 05:16] dlsteuer commented on #249
I think the easiest situation is have the engine generate a hash that it sends with each request to that snake, like hash the snake url or something.

[2019-02-20 05:57] codeallthethingz opened #250 "Let people know about the keyboard shortcuts"
As a snake developer, it's not immediately obvious that there are keyboard shortcuts to navigate the game.

Implementation idea
grey mini help text under the board?

![image](https://user-images.githubusercontent.com/1261268/53069576-4e4bbf00-3491-11e9-8f6c-90570f8b869f.png)

[2019-02-20 07:43] brandonb927 commented on #250
Would something like this work?
![image](https://user-images.githubusercontent.com/1509352/53074650-2b74d700-34a0-11e9-9df2-2f8c383e95f3.png)

[2019-02-20 17:35] xtagon commented on #250
Hi, some new insight:

When I reported this, it was because I didn't know how to play/move forward the board when testing on my local machine. It turns out it was because my browser window was too small, and the buttons were hidden. So I thought that keyboard shortcuts must be the only way to control it, but that was a mistaken assumption.

[2019-02-20 17:36] xtagon commented on #250
Also, there is already keyboard shortcut text in the main website (as shown in the first screenshot) but there is nothing at all in the local engine server when you run it on your own machine.

[2019-02-20 18:27] brandonb927 commented on #250
@xtagon Totally understandable, this PR _also_ enables showing the keyboard shortcuts at smaller displays, so it crushes 2 issues with one PR 😄

[2019-02-20 18:28] dlsteuer commented on #250
my preferred style would be a pop over or something on a question mark hint circle, I feel like always having them is too much.

[2019-02-20 18:31] brandonb927 commented on #250
@dlsteuer agreed, I can find another way to display them without being obtrusive

[2019-02-21 00:47] #241 closed

[2019-02-21 00:54] codeallthethingz commented on #238
Has been fixed by moving the prometheus code into an init block.

[2019-02-21 00:54] #238 closed

[2019-02-21 00:55] codeallthethingz commented on #195
Fixed by the timeout fix.

[2019-02-21 00:55] #195 closed

[2019-02-21 01:03] codeallthethingz opened #251 "Create a separate engine for the tournament"

[2019-02-21 01:04] #233 closed

[2019-02-22 00:11] exzizt opened #252 "Snakes can't be deleted"
I've tried to delete an old snake a few times and it keeps coming back.

[2019-02-22 01:18] exzizt opened #253 "Editing a snake's URL is not saved"

[2019-02-22 01:20] brandonb927 commented on #253
Hey @exzizt I can't seem to reproduce this issue, can you jump on to the Battlesnake Slack and we can chat further about it?

[2019-02-22 01:23] brandonb927 commented on #252
@exzizt You can delete a snake by going to your snake's public page, clicking the dropdown on the right, then delete.

![image](https://user-images.githubusercontent.com/1509352/53213336-5de81680-35fd-11e9-9a22-6e449ec68366.png)

[2019-02-22 01:24] exzizt commented on #253
@brandonb927 This is really weird, it seems to have saved the URL now. I refreshed the page to double check a few secs after and it wasn't changed--but now, it is.

[2019-02-22 01:26] brandonb927 commented on #252
@exzizt This does look like a bug, we'll get a fix out.

[2019-02-22 01:27] brandonb927 commented on #253
@exzizt This does look like a bug after testing a bit, we'll get a fix out.

[2019-02-22 17:13] brandonb927 commented on #250
Does something like this make sense?

![](https://user-images.githubusercontent.com/1509352/53258673-19eb2500-3682-11e9-8d7f-c2cb82192b92.gif)

[2019-02-22 17:37] #250 closed

[2019-02-22 17:58] ntmk opened #254 "Add human controlled snake option to play"
Would be really cool to see down the road. See if humans can react faster than AI. Another upside great time killer too!

[2019-02-22 23:10] exzizt opened #255 "Rough concept of what gradients/textures could look like for snakes"
Didn't spend much time on this but primary/secondary colours could be re-introduced in the form of gradients, and also what it could look like if snakes could send an image to use as a texture. Made very quickly in Photoshop. Just throwing it out there.
![roughconceptbscolourgradientstextures](https://user-images.githubusercontent.com/17113094/53276437-d3162300-36b3-11e9-9afb-623322278056.png)

[2019-02-23 00:50] ColDog opened #256 "Engine Crash"
[code]

[2019-02-23 01:23] ColDog opened #257 "Engine Timeout"
Currently the engine gives a liberal timeout of 5 seconds on a snake start request. However - this means that the requests to the engine `/start` endpoint could stall for up to 5 seconds.

Suggested fix: Move the timeout on the start endpoint lower to around 250ms.

[2019-02-23 01:31] dlsteuer commented on #256
This happens when you have more snakes then 8 in the game, and should fall back to random points after the first 8 pre-defined start points are used up.

[2019-02-23 17:49] ColDog opened #258 "Retry on Engine Sends Empty Request"
On the following commit: https://github.com/battlesnakeio/engine/commit/a928a0a999fb86a8ab0fa09dcbcd8e520905cbb1

We introduced a one time retry this however will send an empty request body since the request body has already been fully read from. To properly retry we'll need to rewind the buffer.

[2019-02-23 17:53] ColDog opened #259 "Engine Retries"
Given that we reverted #258 do we want to try and revisit retries? Do we have enough time to reasonably implement something prior to the tournament?

[2019-02-23 18:42] exzizt opened #260 "Clicking "Games" by your snake on the leaderboard does not just show games for that snake"

[2019-02-23 20:17] #258 closed

[2019-02-24 19:27] brandonb927 opened #261 "Elixir snake needs updating"
The Elixir snake needs to be updated to remove taunts, and probably needs a once over to make sure it’s ip to spec with 2019 API https://github.com/battlesnakeio/starter-snake-elixir/blob/master/lib/elixir_snake.ex

[2019-02-24 19:28] brandonb927 commented on #260
@dlsteuer can this be closed now?

[2019-02-24 19:28] brandonb927 commented on #253
We can confirm this has been fixed now

[2019-02-24 19:28] #253 closed

[2019-02-24 19:29] brandonb927 commented on #252
We can confirm this has been fixed now

[2019-02-24 19:29] #252 closed

[2019-02-24 19:31] brandonb927 commented on #230
I’ll see if I can slot this in this week

[2019-02-24 19:32] #194 closed

[2019-02-24 19:32] #192 closed

[2019-02-24 19:32] brandonb927 commented on #248
This has been fixed

[2019-02-24 19:32] #248 closed

[2019-02-24 19:34] #135 closed

[2019-02-24 19:35] brandonb927 commented on #118
@dlsteuer can we close this now?

[2019-02-24 19:35] brandonb927 commented on #79
You can do this with the Exporter service now!

[2019-02-24 19:35] #79 closed

[2019-02-24 19:37] dlsteuer commented on #118
board still doesn't have versioning

[2019-02-24 19:38] dlsteuer commented on #260
this is fixed now.

[2019-02-24 19:38] #260 closed

[2019-02-24 19:38] brandonb927 commented on #21
@joram any movement on this? Getting very close to the tourney...

[2019-02-24 19:39] matthieudolci commented on #118
@dlsteuer if we move the chart folder from the infra repo to the board and start deploying with tags would that be ok?

[2019-02-25 05:06] MarkZsombor commented on #261
I can deal with that. I've been actively using it, it works with the 2019 API but the taunts were included when their use in the tournament was still a question mark.

[2019-02-25 05:12] brandonb927 commented on #261
Thanks @MarkZsombor! If you want to close this by linking in the PR description when you have a PR up, that'd be great.

[2019-02-25 05:20] #261 closed

[2019-02-25 05:48] dlsteuer commented on #198
this is complete

[2019-02-25 05:48] #198 closed

[2019-02-25 05:48] dlsteuer commented on #118
that would be great, also would be cool to move to cloud build, and deploy just like play.

[2019-02-25 17:41] matthieudolci commented on #118
Awesome i will have a look, but i can not promise anything fast

[2019-02-28 03:29] ntmk commented on #240
@LouisRitchie
I have done this and it has been wonderful :)

@Herbert-P
When you grow after eating is the same as previous years  spawn positions should affect the logic of your snake they are still random just random fixed locations the food spawn rules have changes slightly but again shouldnt have any negative results. I have functions that make my snake compatible for every year so far its real

[2019-02-28 20:43] skalexander opened #262 "validation data does not match game data in all ways"
I've noticed that while game data uses UUID strings for "id" the validation packets do not. So I guess this is an improvement request

For example, to validate a "move" you send.

```{"game": {"id": "1551385799319390000"}, "turn": 1, "board": {"height": 10, "width": 10, "food": [{"x": 1, "y": 1}], "snakes": [{"id": "you", "name": "you", "health": 0, "body": [{"x": 2, "y": 2}]}]}, "you": {"id": "yo

[2019-02-28 22:32] exzizt opened #263 "Engine doesn't "know" Hades headType yet, won't draw the board if this is a headType sent from a snake."

[2019-02-28 22:36] exzizt opened #264 "Enable autocomplete for engine form (especially snake URLs)"

[2019-03-03 02:52] dlsteuer commented on #263
There was a typo in the docs, `Hades` wasn't actually a valid snake head type. The docs have been updated.

[2019-03-03 02:52] #263 closed

[2019-03-07 17:11] dlsteuer commented on #246
completed by @bvanvugt

[2019-03-07 17:11] #246 closed

[2019-03-07 17:15] #245 closed

[2019-03-07 17:22] #251 closed

[2019-03-07 18:03] dlsteuer commented on #262
Another thing that isn't consistent is that the snake length is a single point, this will never happen in a normal move request.

[2019-03-13 20:23] cbinners opened #265 "Automatically Disable leaderboard snakes that timeout on start multiple times."
Maybe send an email to the owner indicating the new status?

[2019-03-15 16:52] Bean0B opened #266 "Add doc for a Snake Tutorial (Ruby)"
We need a Zero to Snake doc for the [Ruby Starter Snake](https://github.com/battlesnakeio/starter-snake-ruby). These tutorials are meant as a guide to get anyone from a computer with nothing particular to the language installed to a running snake that they can view in their browser.

Please check out the other Snake Tutorials in [our docs](https://github.com/battlesnakeio/docs/tree/master/docs) fo

[2019-03-15 17:01] Bean0B opened #267 "Add doc for a Snake Tutorial (Go)"
We need a Zero to Snake doc for the [Starter Snake Go](https://github.com/battlesnakeio/starter-snake-go). These tutorials are meant as a guide to get anyone from a computer with nothing particular to the language installed to a running snake that they can view in their browser.

Please check out the other Snake Tutorials in [our docs](https://github.com/battlesnakeio/docs/tree/master/docs) for in

[2019-03-15 17:05] Bean0B opened #268 "Add doc for a Snake Tutorial (Java)"
We need a Zero to Snake doc for the [Starter Snake Java](https://github.com/battlesnakeio/starter-snake-java). These tutorials are meant as a guide to get anyone from a computer with nothing particular to the language installed to a running snake that they can view in their browser.

Please check out the other Snake Tutorials in [our docs](https://github.com/battlesnakeio/docs/tree/master/docs) fo

[2019-03-15 18:51] #175 closed

[2019-03-15 18:52] #222 closed

[2019-03-15 18:55] brandonb927 commented on #196
@graeme-hill did this! 🎉

[2019-03-15 18:55] #196 closed

[2019-03-15 18:55] brandonb927 commented on #163
@dlsteuer this is the timeout you've tried to modify in the last few PRs, correct?

[2019-03-15 18:56] #228 closed

[2019-03-15 21:37] brandonb927 opened #269 "Test Note turned into Issue"
Created from a Project

[2019-03-15 21:44] #269 closed

[2019-03-15 21:56] Bean0B opened #270 "Docs Readme need development steps"
We use [Jekyll](https://jekyllrb.com/) to build our docs page and the readme could use steps on how to build and run your server for local development.

[2019-03-15 23:12] bvanvugt opened #271 "Blog Post: "What is Battlesnake?""
Short, plain-language introduction to Battlesnake.

[2019-03-15 23:14] bvanvugt opened #272 "Guest Blog Post: "Preparing for Battlesnake""
See https://mykalmachon.com/posts/preparing-for-battlesnake by @MykalMachon.

[2019-03-18 20:54] Bean0B opened #273 "Play Readme development steps needs updating"
The play readme steps need to be straight-forward and accurate. We need to go through the steps and confirm/update the instructions to get a development environment running.

[2019-03-21 00:03] dlsteuer opened #274 "Lower game timeout to 250ms"
We want to enforce a lower timeout, There is some issues where time is lost connecting to snakes, and so the timeout for the snake isn't a full 250ms and this needs to be investigated where the time is spent.

[2019-03-21 00:03] dlsteuer commented on #274
https://github.com/battlesnakeio/play/pull/106

[2019-03-21 00:06] dlsteuer commented on #3
@bvanvugt is this something we still want to do, and have the assets in a branding repo?

[2019-03-21 00:07] dlsteuer commented on #10
I think the bot works, I will add it.

[2019-03-21 00:08] #11 closed

[2019-03-21 00:08] #13 closed

[2019-03-21 00:09] #19 closed

[2019-03-21 00:10] dlsteuer commented on #21
I think the starter snakes are pretty good as is, we made it through the 2019 battlesnake event, gonna close this.

[2019-03-21 00:10] #21 closed

[2019-03-21 00:11] dlsteuer commented on #28
closing this for now, as this has significant architecture issues.

[2019-03-21 00:11] #28 closed

[2019-03-21 00:12] dlsteuer commented on #48
@graeme-hill is this still something you want to work on?

[2019-03-21 00:13] dlsteuer commented on #54
@Bean0B did this.

[2019-03-21 00:13] #54 closed

[2019-03-21 00:14] #65 closed

[2019-03-21 00:17] dlsteuer opened #275 "Add option to download game frames from a game on play"
Add a way to download the game frames from play, this would use the engine API.

[2019-03-21 00:18] dlsteuer opened #276 "Add a button in play to create a move request for the current frame"
This should live in play, and use the frame number that is broadcast out of the board iframe. Then query the engine api to retrieve a move request.

[2019-03-21 00:19] dlsteuer commented on #78
extracted into 2 new tickets.

[2019-03-21 00:19] #78 closed

[2019-03-21 00:20] dlsteuer commented on #90
Play is using an uptime checker, just need one for engine

[2019-03-21 00:20] #100 closed

[2019-03-21 00:21] dlsteuer commented on #234
this has been fixed.

[2019-03-21 00:21] #234 closed

[2019-03-21 00:23] dlsteuer opened #277 "Create a command socket for engine game communication."
Instead of the current socket implementation, use a command socket where the engine can receive commands and then respond appropriately.

[2019-03-21 00:23] dlsteuer commented on #240
This requires #277 to be completed first.

[2019-03-21 00:26] dlsteuer commented on #243
This was completed.

[2019-03-21 00:26] #243 closed

[2019-03-21 00:27] dlsteuer commented on #101
I'm happy with the current store interface.

[2019-03-21 00:27] #101 closed

[2019-03-21 00:28] #103 closed

[2019-03-21 00:28] #104 closed

[2019-03-21 00:29] #117 closed

[2019-03-21 00:30] #108 closed

[2019-03-21 00:31] dlsteuer commented on #122
I think the engine will handle all of this gracefully

[2019-03-21 00:31] #122 closed

[2019-03-21 00:31] dlsteuer commented on #131
@matthieudolci is this something you want to do in the battlesnake cluster?

[2019-03-21 00:33] dlsteuer commented on #133
I think this needs to live in play, and is part of a larger stats project, that feeds into achievements.

[2019-03-21 00:34] #152 closed

[2019-03-21 00:35] dlsteuer commented on #152
We made food spawn changes for the 2019 tournament

[2019-03-21 00:35] dlsteuer commented on #159
We have monitoring for this use case, so not sure if we need a code fix for this.

[2019-03-21 00:35] #159 closed

[2019-03-21 00:37] dlsteuer commented on #163
This is done.

[2019-03-21 00:37] #163 closed

[2019-03-21 00:38] #174 closed

[2019-03-21 00:39] #183 closed

[2019-03-21 00:39] #230 closed

[2019-03-21 00:41] dlsteuer commented on #249
#52 should be done first, as this will be an api change.

[2019-03-21 00:42] dlsteuer commented on #249
Also need to attach some salt to however the hash is generated.

[2019-03-21 00:44] dlsteuer commented on #249
This is also tricky because it means keeping state around, and if your snake restarts.
Another idea, possibly better is have play generate an api key when you add a snake to play, and this gets passed to your snake through engine.

[2019-03-21 00:46] dlsteuer commented on #255
Thanks for the idea, at this point in time, this isn't a direction we want to move in. There is also some significant architecture issues that would hinder accomplishing this.

[2019-03-21 00:46] #255 closed

[2019-03-21 00:46] dlsteuer commented on #254
requires #277 to be accomplished.

[2019-03-21 00:49] dlsteuer commented on #257
I'm ok with a 5 second timeout on /start being called, this happens on game creation.

[2019-03-21 00:49] #257 closed

[2019-03-21 00:50] dlsteuer commented on #259
Yes some sort of retry logic should be implemented in the engine. Things to consider when doing this is errors related to timeouts because of retries (i.e. context deadline was exceeded), also make sure to not re-use any existing requests, or snakes will receive empty payloads.

[2019-03-21 00:51] dlsteuer commented on #264
This isn't really possible, as engine doesn't know anything about play.

[2019-03-21 00:51] #264 closed

[2019-03-21 00:52] dlsteuer commented on #265
Yes we should do something about leaderboard snakes that don't respond. This is larger then just the leaderboard, and could be any snake in a game.

[2019-03-21 00:53] dlsteuer commented on #277
Create a new socket handler, and don't modify the existing one, so we can deploy engine first, and then update board afterwards.

[2019-03-27 00:13] ColDog opened #278 "Learner Templates"
As a learner I want to sign up and create a snake from a set of templates.

Acceptance:
- When I hit create for a snake I'm given an option of snake templates.

[2019-03-27 00:14] ColDog opened #279 "Learner First Badge"
As a learner I want to earn a badge for not hitting a wall

[2019-03-27 00:14] ColDog opened #280 "Learner Share Badge"
As a learner I want to share my badge on social platforms

[2019-03-27 00:14] ColDog opened #281 "Learner Deploy to Production"
As a learner I want to deploy my snake to production so I can earn more badges

[2019-06-04 20:52] ThomasDelteil opened #282 "Create a battlesnake simulator"
Hi,

If I'm not misunderstanding the docs and the code, the current recommended way to develop and run against the engine, is to give a agent URL to the server and have the engine query the agent for the next action. This is probably a wise choice and the best implementation if we want to ensure people are developing working agents from the get go.

However this makes it very awkward to try to dev

[2019-06-05 14:55] DirkGehlich commented on #265
The leaderboard is not reachable at all for me since some days. So I agree that something should be done.

[2019-06-13 12:26] DirkGehlich commented on #265
I think this issue can be closed, as it has been fixed by battlesnakeio/play#109

[2019-08-31 20:24] xtagon commented on #274
Is this a final decision? I strongly oppose this (in favor of keeping the 500ms timeout), because a lower timeout would mean significantly less options in terms of algorithms that can search the game tree for best moves and still get an accurate result. For intermediate to advanced participants, this would mean that a large portion of how effective a snake AI is, will depend more on how much hardw

[2019-09-11 17:44] harrymes commented on #274
If you were to make this change tomorrow without giving everybody time to change their code, you would crash a bunch of servers.  When I started programming my first snake a couple of weeks ago, my code wasn't optimized yet, so my server was still working on one move when the next move came up, and then my server was twice as slow because it was doing 2 moves at the same time.  Then the 3rd move c

[2019-09-28 05:11] joram opened #283 "looks like a js error when clicking the `status` button on a snake."
steps to repro:
- open up battelsnake.com
- go to you the my snakes page (https://play.battlesnake.com/u/joram/)
- open up the debugger console
- then click the `status button

expecected behaviour:
- some status info appearing

what happens:
- a js error showing a single quoted string that's broken across two lines.

[2019-10-03 04:02] xtagon commented on #266
PR in https://github.com/battlesnakeio/docs/pull/41

(it didn't auto-reference because it's technically a separate repo)

[2019-10-04 14:25] ntmk opened #284 "All releases should contain built engine"
There have been a couple of releases that do not contain pre built engine downloads. This is not a concern for savvy developers. However if I am a brand new developer it can be intimidating to have to build from source for local development.
For a release to pass it should contain:
- source code zip
- pre built engine for all platforms (this has been the case for most releases)
This will allow new